<%- include('../layouts/adminLayouts/header') %>
    <div class="screen-overlay"></div>
    <%- include('../layouts/adminLayouts/sidebar') %>
    <main class="main-wrap">     
        <%- include('../layouts/adminLayouts/searchbar') %>

  <!-- Modal starts -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5 w-100 text-center" id="exampleModalLabel">Edit Category</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           
                <div class="mb-3">
                  <label for="categoryName" class="form-label">Change Name</label>
                  <input type="text" class="form-control" id="changeCName" name="categoryName" placeholder="" required>

                </div>
                <div class="mb-3">
                  <label for="categoryDescription" class="form-label">Change Description</label>
                  <textarea class="form-control" id="changeCDescription" name="categoryDescription" rows="3" placeholder="" required></textarea>
                </div>
              
               
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" id="" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal ends -->

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                    <p>Dashboard > Category & Brand</p>
                    <p>Add, edit or delete a category</p>
                </div>
                <div>
                    <input type="text" placeholder="Search Categories" class="form-control bg-white">
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">

                            <form action="/admin/brand-category-management" method="post">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Name</label>
                                    <input type="text"  name="cName" placeholder="Type here" class="form-control"  id="product_name" />
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea name="cDescription" placeholder="Type here" class="form-control"></textarea>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Create category</button>
                                </div>
                            </form>


                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                                No
                                            </th>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <%if(categoriesData.length>0){ %>
                                            <% for(let i =0; i < categoriesData.length ; i++) {%>
                                        <tr>
                                            <td class="text-center">
                                               <%= [i +1] %>
                                            </td>
                                            <td><%= categoriesData[i]._id %></td>
                                            <td><%= categoriesData[i].name %></td>
                                            <td><%= categoriesData[i].description %></td>
                                            <td class="text-end">
                                                <div class="d-flex justify-content-end">

                                                    <button type="button"  data-category-name="<%= categoriesData[i].name %>" data-category-description="<%= categoriesData[i].description %>" class="btn btn-light rounded btn-sm font-sm flex-fill mx-1 editCategory" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                        Edit info
                                                    </button>
                                                
                                                    <% if(categoriesData[i].isActive) { %>

                                                        <button onclick="softDeleteCategory('<%= categoriesData[i]._id %>')" id="softDeleteButton<%= categoriesData[i]._id %>" class="btn btn-danger rounded btn-sm font-sm flex-fill mx-1">Unlist</button>

                                                    <% } else { %>

                                                        <button onclick="softDeleteCategory('<%= categoriesData[i]._id %>')" id="softDeleteButton<%= categoriesData[i]._id %>" class="btn btn-success rounded btn-sm font-sm flex-fill mx-1">List</button>
                                                        
                                                    <% } %>
                                                    
                                                </div>
                                            </td>
                                            
                                        </tr>
                                        <%}%>
                                        <%} else { %>
                                        <tr>
                                            <tr>
                                                <td colspan="5">No Categories Found </td>
                                              </tr>
                                              <%}%>
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- .col// -->
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Brands </h2>
                    <p>Add, edit or delete a brand</p>
                </div>
                <div>
                    <input type="text" placeholder="Search Brands" class="form-control bg-white">
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">

                            <form action="/admin/brand-category-management" method="post">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Name</label>
                                    <input type="text" name="bName" placeholder="Type here" class="form-control"  id="product_name" />
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Create brand</button>
                                </div>
                            </form>


                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                                No
                                            </th>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <%if(brandsData.length>0){ %>
                                            <% for(let i =0; i < brandsData.length ; i++) {%>
                                        <tr>
                                            <td class="text-center">
                                                <%= [i +1] %>
                                             </td>
                                            <td><%= brandsData[i]._id %></td>
                                            <td><%= brandsData[i].name %></td>
                                            <td class="text-end">
                                                <div class="d-flex justify-content-end">

                                                    <button onclick="editBrand('<%= brandsData[i]._id %>')" id="" class="btn btn-light rounded btn-sm font-sm flex-fill mx-1">Edit info</button>   

                                                    <% if(brandsData[i].isActive) { %>

                                                        <button onclick="softDeleteBrand('<%=  brandsData[i]._id %>')" id="softDeleteButton<%=  brandsData[i]._id %>" class="btn btn-danger rounded btn-sm font-sm flex-fill mx-1">Unlist</button>

                                                    <% } else { %>

                                                        <button onclick="softDeleteBrand('<%=  brandsData[i]._id %>')" id="softDeleteButton<%=  brandsData[i]._id %>" class="btn btn-success rounded btn-sm font-sm flex-fill mx-1">List</button>
                                                        
                                                    <% } %>
                                                    
                                                </div>
                                            </td>
                                            
                                        </tr>
                                        <%}%>
                                        <%} else { %>
                                        <tr>
                                            <tr>
                                                <td colspan="5">No brands Found </td>
                                              </tr>
                                              <%}%>
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- .col// -->
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->

        <script>


//soft deleting the categories

    const softDeleteCategory = (categoryId) =>{
        
        
        fetch(`http://localhost:7000/admin/brand-category-management/?categoryId=${categoryId}`,{

            method: 'PATCH',
            headers: {

                 'Content-Type': 'application/json'
            },
            
        }).then(response =>{

            if(response.status!=200){

                throw new Error('Network response was not ok')
            }

            return response.json()

        }).then(data =>{


            const deleteButton = document.getElementById(`softDeleteButton${categoryId}`)

            if(data.categoryId.isActive){
                
                deleteButton.classList.remove('btn-danger');
                deleteButton.classList.add('btn-success');
                deleteButton.textContent = 'List'
              
            }else{

                deleteButton.classList.remove('btn-success');
                deleteButton.classList.add('btn-danger');
                deleteButton.textContent = 'Unlist'
            
            }


           

        }).catch(error =>{

            console.log(`There is a problem with the fetch operation`,error)

        })
    
    }



//soft deleting brand

    const softDeleteBrand = (brandId) =>{
        
        
        fetch(`http://localhost:7000/admin/brand-category-management/?brandId=${brandId}`,{

            method: 'PATCH',
            headers: {

                 'Content-Type': 'application/json'
            },
            
        }).then(response =>{

            if(response.status!=200){

                throw new Error('Network response was not ok')
            }

            return response.json()

        }).then(data =>{


            const deleteButton = document.getElementById(`softDeleteButton${brandId}`)

            if(data.brandId.isActive){
                
                deleteButton.classList.remove('btn-danger');
                deleteButton.classList.add('btn-success');
                deleteButton.textContent = 'List'
              
            }else{

                deleteButton.classList.remove('btn-success');
                deleteButton.classList.add('btn-danger');
                deleteButton.textContent = 'Unlist'
            
            }
           

        }).catch(error =>{

            console.log(`There is a problem with the fetch operation`,error)

        })
    
    }

   
//for category editing 
document.addEventListener("DOMContentLoaded",()=>{

     const tableBody =  document.querySelector('tbody')
    

     tableBody.addEventListener("click",(event)=>{

        if(event.target.classList.contains('editCategory')){

            const categoryName = event.target.getAttribute('data-category-name')

            const categoryDescription = event.target.getAttribute('data-category-description')
   
            document.getElementById('changeCName').value = categoryName

            document.getElementById('changeCDescription').textContent = categoryDescription

        }

     })

     document.getElementById('')

     const editCategory = (CategoryId) =>{

       
           fetch(`http://localhost:7000/admin/brand-category-management/?categoryId=${categoryId}&categoryName=${categoryName}&categoryDescription=${categoryDescription}`,{

                method: 'PUT',
                headers: {

                        'Content-Type': 'application/json'
                   },

                }).then(response =>{

                if(response.status!=200){

                        throw new Error('Network response was not ok')
                }

                return response.json()

                }).then(data =>{







                }).catch(error =>{

                   console.log(`There is a problem with the fetch operation`,error)

                })


            }
    
        })
        
        </script>
        <%- include('../layouts/adminLayouts/footer') %>