<%- include('../layouts/adminLayouts/header') %>
<div class="screen-overlay"></div>
    <%- include('../layouts/adminLayouts/sidebar') %>
    <main class="main-wrap">
        <%- include('../layouts/adminLayouts/searchbar') %>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Customers List </h2>
                    <p>Dashboard> customerslist</p>
                </div>
                <div>
                    <input type="text" placeholder="Search order ID" class="form-control bg-white">
                </div>
            </div>

            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header> 
            <!-- table content starts -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Sl.No.</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Reg.Date</th> 
                                    <th scope="col"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <%if(userData.length>0) { %>
                                    <%for(let i =0;i < userData.length; i++) { %>
                                <tr>
                                    <td><%= i + 1 %></td>
                                    <td><%= userData[i].fname +" "+userData[i].lname%></td>
                                    <td><%= userData[i].email %></td>
                                    <td><%= userData[i].phone %></td>
                                    <td><%= new Date(userData[i].createdAt).toLocaleString() %></td>
                                    <td>

                                        <div class="d-flex justify-content-end">
                                            <button onclick="editUser('<%= userData[i]._id %>')" id="" class="btn btn-light rounded btn-sm font-sm flex-fill mx-1">Edit info</button>   

                                            <% if(userData[i].is_blocked) { %>

                                                <button onclick="softDeleteUser('<%= userData[i]._id %>')" id="softDeleteButton<%= userData[i]._id %>" class="btn btn-danger rounded btn-sm font-sm flex-fill mx-1">Unlist</button>

                                            <% } else { %>

                                                <button onclick="softDeleteUser('<%= userData[i]._id %>')" id="softDeleteButton<%= userData[i]._id %>" class="btn btn-success rounded btn-sm font-sm flex-fill mx-1">List</button>
                                                
                                            <% } %>
                                        </div>

                                    </td>
                                </tr>
                                <%}%>
                                <%}else {%>}
                                <tr>
                                    <tr>
                                        <td colspan="5">No Users Found Yet</td>
                                      </tr>
                                      <%}%>
                                  
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <!-- <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div> -->
        </section> <!-- content-main end// -->
    </main>
<script>

    const softDeleteUser = (userId) =>{

        fetch(`http://localhost:7000/admin/customerlist/?userId=${userId}`,{

               method: 'PATCH',
               headers: {

                     'Content-Type': 'application/json'
               },

            }).then(response =>{

               if(response.status!=200){

                    throw new Error('Network response was not ok')
                }

                 return response.json()

            }).then(data =>{


                 const deleteButton = document.getElementById(`softDeleteButton${userId}`)

             if(data.userId.is_blocked){
    
                  deleteButton.classList.remove('btn-danger');
                  deleteButton.classList.add('btn-success');
                  deleteButton.textContent = 'List'
    
              }else{

                  deleteButton.classList.remove('btn-success');
                  deleteButton.classList.add('btn-danger');
                  deleteButton.textContent = 'Unlist'

              }

              }).catch(error =>{

                      console.log(`There is a problem with the fetch operation`,error)

              })

    }
</script>
    <%- include('../layouts/adminLayouts/footer') %>