<%- include('../layouts/adminLayouts/header') %>

    <div class="screen-overlay"></div>
    <%- include('../layouts/adminLayouts/sidebar') %>
        <main class="main-wrap">
            <%- include('../layouts/adminLayouts/searchbar') %>
                <section class="content-main">
                    <div class="content-header">
                        <div>
                            <h2 class="content-title card-title">Products List</h2>
                            <p>Dashboard > Products</p>
                        </div>
                        <div>
                            <a href="/admin/addProducts" class="btn btn-primary btn-sm rounded">Add Product</a>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <form id="filterForm">
                            <header class="card-header">
                                <div class="row align-items-center">
    
                                    <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                                        <select class="form-select"  id="categoryFilter" name="category">
                                            <% if(categoriesData.length> 0) { %>
                                                <% categoriesData.forEach(category=> { %>
                                                    <option>
                                                        <%= category.name %>
                                                    </option>
                                                    <% }) %>
                                                        <% } else { %>
                                                            <option>No Category Found</option>
                                                            <% } %>
                                        </select>
                                    </div>
                                    <div class="col-md-2 col-6">
                                        <select class="form-select" id="statusFilter" name="status">
                                            <option selected>Out of stock</option>
                                            <option>Active</option>
                                            <option>Unlisted</option>
                                            <option>Newly added</option>
                                            <option>Show all</option>
                                        </select>
                                    </div>
                                </div>
                            </header> <!-- card-header end// -->
                        </form>
                       
                        <div class="card-body">
                            <div class="table-responsive " >
                                <table class="table table-hover " id="productTable">
                                    <thead >
                                        <tr>
                                            <th scope="col">No</th>
                                            <th scope="col">Product Image</th>
                                            <th scope="col">ProductID</th>
                                            <th scope="col">Product Name</th>
                                            <th scope="col">brand</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col" >Status</th>
                                            <th scope="col" class="text-center">Update</th>
                                        </tr>
                                    </thead>
                                    <tbody id="productTableBody" >
                                        <% if (productData.length> 0) { %>
                                            <% for (let i=0; i < productData.length; i++) { %>
                                                <tr>
                                                    <td class="text-center">
                                                        <%= i + 1 %> <!-- Adjusting to display the index as 1-based -->
                                                    </td>
                                                    <td>
                                                        <img class="img-sm img-thumbnail"
                                                            src="/productImages/<%= productData[i]?.images[0].filename%>"
                                                            alt="">
                                                    </td>
                                                    <td>
                                                        <%= productData[i]._id %>
                                                    </td>
                                                    <td>
                                                        <%= productData[i].name %>
                                                    </td>
                                                    <td>
                                                        <%= productData[i].brand.name %>
                                                    </td>
                                                    <td>
                                                        <%= productData[i].regularPrice %>
                                                    </td>
                                                    <td>
                                                        <%= productData[i].stock %>
                                                    </td>
                                                    <td>
                                                        <% if (productData[i].stock > 0) { %>
                                                            <span class="text-success mx-2">In Stock</span>
                                                        <% } else { %>
                                                            <span class="text-danger mx-2">Out of Stock</span>
                                                        <% } %>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex justify-content-end">
                                                            <button onclick="editProduct('<%= productData[i]._id %>')"
                                                                id=""
                                                                class="btn btn-light rounded btn-sm font-sm flex-fill mx-1">Edit
                                                                info</button>

                                                            <% if(productData[i].isBlocked) { %>

                                                                <button
                                                                    onclick="softDeleteProduct('<%= productData[i]._id %>')"
                                                                    id="softDeleteButton<%= productData[i]._id %>"
                                                                    class="btn btn-success rounded btn-sm font-sm flex-fill mx-1">List</button>

                                                                <% } else { %>

                                                                    <button
                                                                        onclick="softDeleteProduct('<%= productData[i]._id %>')"
                                                                        id="softDeleteButton<%= productData[i]._id %>"
                                                                        class="btn  btn-danger rounded btn-sm font-sm flex-fill mx-1">Unlist</button>

                                                                    <% } %>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <% } %>
                                                    <% } else { %>
                                                        <tr>
                                                            <td colspan="9">No Products Found Yet</td>
                                                        </tr>
                                                        <% } %>

                                    </tbody>

                                </table>
                            </div>
                        </div>

                        <!-- <div class="pagination-area mt-30 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                </ul>
            </nav>
        </div> -->
                </section> <!-- content-main end// -->

                <script>

                    const softDeleteProduct = (productId) => {
                        const deleteButton = document.getElementById(`softDeleteButton${productId}`)
                        const isDeleting = deleteButton.classList.contains('btn-danger')

                Swal.fire({
                    title: `Are you sure you want to ${isDeleting ? 'Unlist' : 'List'} this product ?`,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: `Yes, ${isDeleting ? 'Unlist' : 'List'}`
                        }).then((result) => {

                            if (result.isConfirmed) {


                                fetch(`http://localhost:7000/admin/products/?productId=${productId}`, {

                                    method: 'PATCH',
                                    headers: {

                                        'Content-Type': 'application/json'
                                    },

                                }).then(response => {

                                    if (response.status != 200) {

                                        throw new Error('Network response was not ok')
                                    }

                                    return response.json()

                                }).then(data => {

                                    if (data.productId.isBlocked) {

                                        deleteButton.classList.remove('btn-danger');
                                        deleteButton.classList.add('btn-success');
                                        deleteButton.textContent = 'List'
                                        Swal.fire({
                                    title: "Unlist!",
                                    text: "This product is not available from now",
                                    icon: "success"
                                })

                                    } else {

                                        deleteButton.classList.remove('btn-success');
                                        deleteButton.classList.add('btn-danger');
                                        deleteButton.textContent = 'Unlist'

                                        Swal.fire({
                                    title: "List!",
                                    text:  "This product is available from now",
                                    icon: "success"
                                })



                                    }
                                   
                                }).catch(error => {

                                    console.log(`There is a problem with the fetch operation`, error)
                                    Swal.fire({

                                        title: "Error!",
                                        text: "There was a problem deleting the product.",
                                        icon: "error"

                                    })


                                })

                            }

                        })

                    }

                </script>
                <%- include('../layouts/adminLayouts/footer') %>