<%- include('../layouts/adminLayouts/header') %>

<div class="screen-overlay"></div>
<%- include('../layouts/adminLayouts/sidebar') %>
<main class="main-wrap">
    <%- include('../layouts/adminLayouts/searchbar') %>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Products List</h2>
                <p>Dashboard > Products</p>
            </div>
            <div>
                <a href="/admin/addproducts" class="btn btn-primary btn-sm rounded">Add Product</a>
            </div>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row align-items-center">
                   
                    <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                                <select class="form-select" name="category">
                                    <% if(categoriesData.length > 0) { %>
                                        <% categoriesData.forEach(category => { %>
                                            <option><%= category.name %></option>
                                        <% }) %>
                                    <% } else { %>
                                        <option>No Category Found</option>
                                    <% } %>
                                </select>
                    </div>
                    <div class="col-md-2 col-6">
                        <select class="form-select">
                            <option selected>Status</option>
                            <option>Active</option>
                            <option>Disabled</option>
                            <option>Newly added</option>
                            <option>Show all</option>
                        </select>
                    </div>
                </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Product Image</th>
                                <th scope="col">ProductID</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">brand</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Status</th>
                                <th scope="col">Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (productData.length > 0) { %>
                                <% productData.forEach((product) => { %>
                                    <tr>
                                        <td>
                                            <!-- Write your logic here if needed -->
                                        </td>
                                        <td><%= product._id %></td>
                                        <td><%= product.name %></td>
                                        <td><%= product.brand.name %></td>
                                        <td><%= product.regularPrice %></td>
                                        <td><%= product.stock %></td>
                                        <td><%= product.stock %></td>
                                        <td>
                                            <div class="d-flex justify-content-end">
                                                <a href="#" class="btn btn-light rounded btn-sm font-sm flex-fill mx-1">Edit info</a>
                                                <a href="#" class="btn btn-danger rounded btn-sm font-sm flex-fill mx-1">Delete</a>
                                            </div>
                                        </td>
                                    </tr>
                                <% }) %>
                            <% } else { %>
                                <tr>
                                    <td colspan="7">No Products Found Yet</td>
                                </tr>
                            <% } %>
                        </tbody>
                        
                    </table>
                </div>
            </div>
        
        <!-- <div class="pagination-area mt-30 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                </ul>
            </nav>
        </div> -->
    </section> <!-- content-main end// -->


<%- include('../layouts/adminLayouts/footer') %>