<%- include('../layouts/userLayouts/header') %>
<div class="bg-white sticky-top">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
      <!-- Logo with Dummy Image -->
      <a class="navbar-brand d-flex align-items-center" href="">
        <span style="font-size: 32px; font-weight: bold; color: black"
          >AXIOS</span
        ><sup style="color: black">®</sup>
      </a>
      <!-- Search Form -->
      <form
        class="d-flex mx-auto w-50"
        id="searchForm"
        action="/showcase"
        method="GET"
      >
        <input
          class="form-control search-bar"
          style="
            border: none;
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);

            padding: 20px 15px;
            border-radius: 5px;
            height: 48px;
          "
          type="search"
          name="searchProduct"
          placeholder="Search for items..."
          aria-label="Search"
          value="<%= searchProduct || '' %>"
        />
      </form>

      <!-- Icons -->
      <ul
        style="margin-right: 10px"
        class="navbar-nav mb-2 mb-lg-0 d-flex align-items-center"
      >
        <li class="nav-item me-3">
          <a
            class="nav-link"
            href="/wishlist"
            style="color: black; font-weight: bold; font-size: 24px"
          >
            <i class="fi-rs-heart"></i>
          </a>
        </li>
        <li class="nav-item me-3">
          <a
            class="nav-link"
            href="/cart"
            style="color: black; font-weight: bold; font-size: 24px"
          >
            <i class="fi-rs-shopping-cart"></i>
          </a>
        </li>
        <li class="nav-item me-3">
          <a
            class="nav-link"
            href="/profile"
            style="color: black; font-weight: bold; font-size: 24px"
          >
            <i class="fi-rs-user"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container" style="height: 70px">
    <div class="row">
      <div class="col-12 text-center mt-3">
        <ul style="user-select: none" class="list-inline">
          <li class="list-inline-item">
            <a
              href="/showcase?targetGroup=men"
              style="
                color: black;
                font-weight: bold;
                font-size: 20px;
                padding-right: 10px;
              "
              >Mens</a
            >
          </li>
          <li class="list-inline-item">
            <a
              href="/showcase?targetGroup=women"
              style="
                color: black;
                font-weight: bold;
                font-size: 20px;
                padding-right: 10px;
              "
              >Womens</a
            >
          </li>
          <li class="list-inline-item">
            <a
              href="/showcase?targetGroup=kids"
              style="
                color: black;
                font-weight: bold;
                font-size: 20px;
                padding-right: 10px;
              "
              >Kids</a
            >
          </li>
          <li class="list-inline-item">
            <a
              href="/"
              style="
                color: black;
                font-weight: bold;
                font-size: 20px;
                padding-right: 10px;
              "
              >About Us</a
            >
          </li>
          <li class="list-inline-item">
            <a
              href="/"
              style="
                color: black;
                font-weight: bold;
                font-size: 20px;
                padding-right: 10px;
              "
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<main class="main">
  <section class="pt-150 pb-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 m-auto">
          <div class="row">
            <%- include('../layouts/userLayouts/sidebar') %>
            <div class="col-md-8">
              <div class="container mt-5">
                <h3 style="font-size: 24px; font-weight: bold; color: #333">
                  MANAGE YOUR ADDRESS
                </h3>
                <br />
                <div class="d-flex justify-content-start mb-3">
                  <a
                    href="/address?view=add"
                    class="btn btn-outline-primary"
                    style="text-decoration: none"
                  >
                    Add a New Address
                  </a>
                </div>
                <div id="mainContainer" style="margin-top: 20px">
                  <% if (!addressDetails || addressDetails.length === 0) { %>
                  <p>No address available</p>
                  <% } else { %> <% addressDetails.forEach(address => { %>
                  <div
                    class="card"
                    style="margin-bottom: 20px"
                    id="addressContainer<%=address._id%>"
                  >
                    <div class="card-body">
                      <div
                        class="d-flex justify-content-between align-items-start"
                      >
                        <div class="address-container">
                          <div class="address-card">
                            <span class="badge bg-secondary mb-2"
                              ><%= address.addressType %></span
                            >
                            <h5 class="card-title mb-1"><%= address.name %></h5>
                            <p class="card-text mb-1"><%= address.phone %></p>
                            <p class="card-text">
                              <%= address.address %>, <%= address.locality %>,
                              <%= address.cityDistTown %>, <%= address.state %>
                              - <%= address.pincode %>
                            </p>
                            <% if (address.landMark || address.landMark!=="") {
                            %>
                            <p class="card-text mb-1">
                              Landmark: <%= address.landMark %>
                            </p>
                            <% } else { %>
                            <p class="card-text mb-1">Landmark: Not provided</p>
                            <% } %> <% if (address.altPhone ||
                            address.altPhone!==null) { %>
                            <p class="card-text mb-1">
                              Alternate Phone: <%= address.altPhone %>
                            </p>
                            <% } else { %>
                            <p class="card-text mb-1">
                              Alternate Phone: Not provided
                            </p>
                            <% } %>

                            <p class="card-text mb-1">
                              Email: <%= address.email %>
                            </p>
                          </div>
                        </div>
                        <div class="dropdown">
                          <a href="#" data-bs-toggle="dropdown">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            >
                              <!-- SVG Path for the three dots icon -->
                              <circle cx="12" cy="5" r="1"></circle>
                              <circle cx="12" cy="12" r="1"></circle>
                              <circle cx="12" cy="19" r="1"></circle>
                            </svg>
                          </a>
                          <div class="dropdown-menu">
                            <a
                              href="/address?view=edit&addressId=<%=address._id%>"
                              class="dropdown-item"
                              >Edit info</a
                            >
                            <a
                              onclick="removeAddress('<%=address._id%>')"
                              class="dropdown-item text-danger"
                              >Delete</a
                            >
                          </div>
                        </div>
                        <!-- dropdown //end -->
                      </div>
                    </div>
                  </div>
                  <% }) %> <% } %>
                </div>

                <div class="pagination-area mt-30 mb-50">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                      <% if (currentPage > 1) { %>
                      <li class="page-item">
                        <a
                          class="page-link"
                          href="/address?page=<%= currentPage - 1 %>"
                        >
                          <strong>&lt;</strong>
                        </a>
                      </li>
                      <% } %> <% let startPage = Math.max(1, currentPage - 2);
                      let endPage = Math.min(totalPages, startPage + 4); if
                      (endPage - startPage < 4) { startPage = Math.max(1,
                      endPage - 4); } %> <% for (let i = startPage; i <=
                      endPage; i++) { %>
                      <li
                        class="page-item <%= i === currentPage ? 'active' : '' %>"
                      >
                        <a class="page-link" href="/address?page=<%= i %>"
                          ><strong><%= i %></strong></a
                        >
                      </li>
                      <% } %> <% if (currentPage < totalPages) { %>
                      <li class="page-item">
                        <a
                          class="page-link"
                          href="/address?page=<%= currentPage + 1 %>"
                        >
                          <strong>&gt;</strong>
                        </a>
                      </li>
                      <% } %>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<script>
  const applySwalButtonStyles = () => {
    const confirmButton = Swal.getConfirmButton();
    const cancelButton = Swal.getCancelButton();

    confirmButton.style.width = "100%";
    confirmButton.style.margin = "5px 0";
    confirmButton.style.border = "1px solid #000";
    confirmButton.style.borderRadius = "0.25rem";
    confirmButton.style.backgroundColor = "#000";
    confirmButton.style.color = "#fff";

    cancelButton.style.width = "100%";
    cancelButton.style.margin = "5px 0";
    cancelButton.style.border = "1px solid #000";
    cancelButton.style.borderRadius = "0.25rem";
    cancelButton.style.color = "#000";

    if (window.innerWidth <= 768) {
      confirmButton.style.width = "100%";
      cancelButton.style.width = "100%";
    } else if (window.innerWidth > 768 && window.innerWidth <= 992) {
      confirmButton.style.width = "150px";
      cancelButton.style.width = "150px";
    }
  };

  const removeAddress = async (addressId) => {
    try {
      const result = await Swal.fire({
        text: "Are you sure? You want to delete this address.",
        showCancelButton: true,
        confirmButtonColor: "#000000",
        cancelButtonColor: "#ffffff",
        confirmButtonText: "Yes, delete it!",
        cancelButtonText: "No, cancel!",
        customClass: {
          confirmButton: "swal1-confirm",
          cancelButton: "swal1-cancel",
        },
      });

      if (result.isConfirmed) {
        const response = await fetch(`/address/${addressId}`, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
          },
        });

        if (!response.ok) {
          const errorData = await response.json();
          throw new Error(`${errorData.message || "Unknown error"}`);
        }
        const data = await response.json();
        await Swal.fire({
          icon: "success",
          text: "Your address has been deleted.",
          toast: true,
          position: "top-right",
          showConfirmButton: false,
          timerProgressBar: true,
          timer: 3000,
        });
        window.location.reload();
      }
    } catch (error) {
      console.error("Error while removing the address", error.message);
      await Swal.fire({
        title: "Error!",
        text: `Error: ${
          error.message || "There was an issue processing your request."
        }`,
        icon: "error",
        toast: true,
        position: "top-right",
        showConfirmButton: false,
        timerProgressBar: true,
        timer: 3000,
      });
    }
  };
</script>
<%- include('../layouts/userLayouts/footer') %>
