<%- include('../layouts/userLayouts/header') %>
<%- include('../layouts/userLayouts/navbar1') %>
<style>
  .custom-cancel-button {
  background-color: #FFFFFF !important; 
  color: #000000 !important; 
  border: 1px solid #000000 !important; 
  padding: 10px 24px !important; 
}

.custom-confirm-button {
  background-color: #007bff !important; 
  color: #FFFFFF !important; 
  padding: 10px 24px !important; 
}

.swal2-popup {
  width: 90% !important; 
  max-width: 440px !important; 
  padding: 20px !important; 
}

.swal2-title {
  font-size: 17px !important; 
  margin-bottom: 5px !important; 
}

.swal2-content {
  font-size: 12px !important; 
  margin-bottom: 20px !important; 
}

.swal2-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.swal2-actions .swal2-styled.swal2-confirm {
  order: 1;
  margin-right: 10px;
  flex-grow: 1;
}

.swal2-actions .swal2-styled.swal2-cancel {
  order: 2;
  flex-grow: 1;
}


@media (max-width: 768px) {
  .swal2-title {
    font-size: 15px !important; 
  }

  .swal2-content {
    font-size: 13px !important; 
  }

  .custom-cancel-button,
  .custom-confirm-button {
    padding: 8px 20px !important;
  }
}

@media (max-width: 480px) {
  .swal2-title {
    font-size: 14px !important; 
  }

  .swal2-content {
    font-size: 12px !important; 
  }

  .custom-cancel-button,
  .custom-confirm-button {
    padding: 6px 16px !important; 
  }
}

</style>
<div class="container mt-5" id="mainContainer">
  <div class="row">

    <% if (cartDetails.length === 0 || cartDetails[0].items.length === 0) { %>
      <div class="col-12 text-center" >
       
        <h2>Your cart is empty!</h2>
        <p>Add items to it now.</p>
        <a href="/home" class="btn btn-primary">Shop now</a>
      </div>
    <% } else { %>
      <div class="col-md-8" id="sendCartItem">
        <% cartDetails.forEach(cartItem => { %>
          <% cartItem.items.forEach(item => { %>
            <div class="card mb-3" id="productContainer<%= item.product?._id %>">
              <input class="form-check-input" type="checkbox"
                     style="margin-left: 5px;"
                     value="<%= item.product?._id %>"
                     name="selectedCartItem"
                     <% if (item.isSelected) { %> checked <% } %>>
              <div class="row no-gutters">
                <div class="col-md-4 d-flex align-items-center justify-content-center">
                  <img src="/productImages/<%= item.product?.images[0]?.filename %>"
                       class="card-img"
                       style="width: 150px; height: 150px; object-fit: cover; margin-bottom: 15px;"
                       alt="Product Image">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><%= item.product?.name %></h5>
                    <strong>Price:</strong>
                    <%= item.price %>
                    <del><%= item.regularPrice %></del>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex align-items-center">
                        <div class="me-2">Qty:</div>
                        <button class="btn btn-sm btn-secondary decrease-quantity" data-product-item-id="<%= item.product?._id %>">-</button>
                        <span class="quantity-display mx-2"><%= item.quantity %></span>
                        <button class="btn btn-sm btn-secondary increase-quantity" data-product-item-id="<%= item.product?._id %>">+</button>
                        <% if (item.product?.stock > 0) { %>
                          <% if (item.product.stock < 3) { %>
                            <span class="product-stock" style="color: red; font-size: 14px; font-weight: 600; margin-left: 5px;">In Stock (<%= item.product.stock %> items)</span>
                          <% } else { %>
                            <span class="product-stock" style="color: green; font-size: 14px; font-weight: 600; margin-left: 5px;">In Stock (<%= item.product.stock %> items)</span>
                          <% } %>
                        <% } else { %>
                          <span class="product-stock" style="color: red; font-size: 14px; font-weight: 600;">Out of Stock</span>
                        <% } %>
                      </div>
                      <span class="text-secondary" onclick="removeFromCart('<%= item.product?._id %>')" style="text-decoration: none; cursor: pointer;">Remove</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% }); %>
        <% }); %>
      </div>
      
    
    <div class="col-md-4" style="margin-top: 150px">
      <div class="card mb-3">

        
        <div class="card-body">
           
          <h5 class="card-title">ORDER SUMMARY</h5>
         
          <p class="card-text d-flex justify-content-between">
            <span id="selection"><%=selectedItemsCount%> items selected</span>
            <span id="subTotalPrice">Rs <%= finalPrice > 0 ? finalPrice.toFixed(2) : '0.00' %></span>
          </p>
          
          <p class="card-text d-flex justify-content-between">
            <span>Delivery Charges</span>
            <span id="deliveryCharge" class="text-success">₹40 Free</span>
          </p>
          <p class="card-text d-flex justify-content-between">
            <span>Coupon Discount</span>
            <span id="couponDiscount" class="text-success">Rs 0.00</span>
          </p>
          <hr>
          <p class="card-text d-flex justify-content-between">
            <strong>Total Amount</strong>

            <strong><span id="totalPrice">Rs <%= finalPrice > 0 ? finalPrice.toFixed(2) : '0.00' %></span></strong>

          </p>

        </div>
        <div class="card-body">
          <h5 class="card-title">Apply Coupon Code</h5>
          <input type="text" id="couponCode" class="form-control" placeholder="Enter Coupon Code">
          <button type="button" id="selectCouponButton" class="btn btn-primary btn-md w-100 mt-2" onclick="openCouponModal()">Select Coupon</button>
          <div id="couponButtons" style="display: none; margin-top: 10px;">
            <div class="row">
             
              <div class="col">
               
                <button type="button" class="btn btn-primary btn-md w-100" onclick="removeCoupon()">Remove</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
        <div class="col" id="checkout">
          <button type="button" class="btn custom-button btn-lg w-100" >Check Out</button>

         </div>
        </div>
      </div>
        
      </div>

    
    
    </div>
    
  </div>
 
</div>

<% } %>

<div class="modal fade" id="couponModal" tabindex="-1" aria-labelledby="couponModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% couponDetails.forEach(coupon => { %>
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
              <h6 class="m-0"><%= coupon.couponName %></h6>
              <p class="m-0">Discount: <%= coupon.couponDiscount %> %</p>
              <p class="m-0">Min amt: <%= coupon.minAmount %> Rs</p>
              <p class="m-0">Max Disc amt: <%= coupon.maxAmount %> Rs</p>
              <p class="m-0">Code: <%= coupon.couponCode %></p>
            </div>
            <button type="button" class="btn btn-primary btn-sm" onclick="selectCoupon('<%= coupon.couponCode %>','<%= coupon.couponDiscount %>')">Select</button>
          </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>

<div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
          <div class="text-center">
              <h5 class="mb-5">Now Loading</h5>
              <div class="loader">
                  <div class="bar bar1"></div>
                  <div class="bar bar2"></div>
                  <div class="bar bar3"></div>
              </div>
          </div>
      </div>
  </div>
</div>

<script>

const openCouponModal = () => {

 const selectedItemsCount = document.querySelectorAll('input[name="selectedCartItem"]:checked').length;

if (selectedItemsCount === 0) {
  // Display a toast message if no items are selected
  Swal.fire({
    icon: 'warning',
    title: 'No Items Selected',
    text: 'Oops! Please select at least one item to select a coupon.',
    toast: true,
    position: 'top-right',
    showConfirmButton: false,
    timer: 3000
  });
  return; // Exit the function early if no items are selected
}
    const couponModal = new bootstrap.Modal(document.getElementById('couponModal'));
    couponModal.show();
  };

  // Function to select a coupon
  const selectCoupon = async(couponCode) => {
  
    document.getElementById('couponCode').value = couponCode ;
    document.getElementById('selectCouponButton').style.display = 'none';
    document.getElementById('couponButtons').style.display = 'block';

    // Close the modal after selecting a coupon
    const couponModal = bootstrap.Modal.getInstance(document.getElementById('couponModal'));
    couponModal.hide();
    await applyCoupon();
  };

  // Function to remove the selected coupon
  const removeCoupon = () => {

    document.getElementById('couponCode').value = '';

    document.getElementById('selectCouponButton').style.display = 'block';
    document.getElementById('couponButtons').style.display = 'none';
  };


  //for adding the coupon amount
const applyCoupon= async () =>{

  const couponCode = document.getElementById('couponCode').value.trim();

    try {
        const response = await fetch(`http://localhost:7000/cart/applyCoupon`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ couponCode })
        });

        const data = await response.json();

        if (data.success) {
            document.getElementById('subTotalPrice').innerText = `Rs ${data.finalPrice.toFixed(2)}`;
            document.getElementById('totalPrice').innerText = `Rs ${data.finalPrice.toFixed(2)}`;
            document.getElementById('couponDiscount').innerText = `Rs ${data.discount.toFixed(2)}`

            document.getElementById('couponButtons').style.display = 'block';
            Swal.fire({
              icon: 'success',
              title: 'Coupon Applied',
              text: 'Coupon applied successfully.',
              timer: 3000,
              timerProgressBar: true
            });
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Coupon Error',
                text: data.message,
                timer: 3000,
                timerProgressBar: true
            });
        }
    } catch (error) {

        console.error('Error applying coupon:', error);

        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: 'An error occurred while applying the coupon.',
          timer: 3000,
          timerProgressBar: true
        });

    }
}

  const removeFromCart = (productId) =>{

    Swal.fire({
      title: 'Remove Item',
        text: 'Are you sure you want to remove this item?',
        showCancelButton: true,
        confirmButtonColor: '#007bff',
        cancelButtonColor: '#FFFFFF',
        confirmButtonText: 'REMOVE',
        cancelButtonText: 'CANCEL',
        customClass: {
          cancelButton: 'custom-cancel-button',
          confirmButton: 'custom-confirm-button'
        }
    }).then((result)=>{

      if(result.isConfirmed){

        console.log(`front`, productId);
        const productContainer = document.getElementById(`productContainer${productId}`)
   
   const mainContainer = document.getElementById(`mainContainer`)

   console.log(productContainer);

    fetch(`http://localhost:7000/cart/`,{

      method:"DELETE",
      headers:{

        "Content-Type":"application/json"

      },

      body:JSON.stringify({productId})

    }).then((response)=>{

      if(!response.ok){

        throw new Error("Network response was not ok")
        
      }

      return response.json()

    }).then((data)=>{
     
     let productName = data.productName.name
      
    if(data.isEmpty){

      mainContainer.remove()

      const emptyCartMessage = document.createElement('div');
            emptyCartMessage.className = 'col-12 text-center';
            emptyCartMessage.innerHTML = `
                <h2>Your cart is empty!</h2>
                <p>Add items to it now.</p>
                <a href="/home" class="btn btn-primary">Shop now</a>`;

            document.body.appendChild(emptyCartMessage);
      
    }else{


      productContainer.remove()
       Swal.fire({
              icon: 'success',
              title: 'Removed from Cart',
              text: `Successfully removed ${productName} from your cart`,
              timer: 3000,
              timerProgressBar: true
            });

        }

    }).catch((error)=>{

      console.log(`error while fetching the data`,error.message);
      Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'An error occurred while removing the item',
            timer: 3000,
            timerProgressBar: true

          });

       })

      }

    })

   
    
  }

const decreaseButtons = document.querySelectorAll('.decrease-quantity');
const increaseButtons = document.querySelectorAll('.increase-quantity');

function updateQuantity(productId, newQuantity) {

  const checkbox = document.querySelector(`input[value="${productId}"]`);
  if (!checkbox.checked) {
    Swal.fire({
      icon: 'warning',
      title: 'Warning',
      text: 'You can only update the quantity of selected products',
      toast: true,
      position: 'top-right',
      showConfirmButton: false,
      timer: 3000
    });
    return;
  }
  if (newQuantity >= 1 && newQuantity <= 5) {

    const  couponCode =  document.getElementById('couponCode').value 
    const subTotalPrice = document.getElementById('subTotalPrice');
    const totalPrice = document.getElementById('totalPrice');

    const checkbox = document.querySelector(`input[value="${productId}"]`);

    fetch(`http://localhost:7000/cart/`, {
      method: 'PATCH',
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ productId, quantity: newQuantity,couponCode }),
    }).then((response) => {
      if (!response.ok) {
        throw new Error("Network response was not ok");
      }
      return response.json();
    }).then((data) => {
      if (data.finalPrice) {
        subTotalPrice.innerHTML = `Rs ${data.finalPrice ? data.finalPrice : 0}`;
        totalPrice.innerHTML = `Rs ${data.finalPrice ? data.finalPrice : 0}`;

        // Update the quantity display
        const quantityDisplay = document.querySelector(`[data-product-item-id="${productId}"]`).nextElementSibling;
        quantityDisplay.textContent = newQuantity;
    
      } else if (data.quantity === false) {
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: 'Stock is insufficient',
          toast: true,
          position: 'top-right',
          showConfirmButton: false,
          timer: 3000
        });
      }
    }).catch(error => {
      Swal.fire({
        icon: 'error',
        title: 'Error',
        text: `An error occurred: ${error.message}`,
        toast: true,
        position: 'top-right',
        showConfirmButton: false,
        timer: 3000
      });
    });
  } else {
    Swal.fire({
      icon: 'error',
      title: 'Error',
      text: 'Oops! You can only select up to 5 items at a time',
      toast: true,
      position: 'top-right',
      showConfirmButton: false,
      timer: 3000
    });
  }
}

function handleQuantityChange(action, button) {
  const productId = button.getAttribute('data-product-item-id');
  
  const quantityDisplay = action === 'decrease' ? button.nextElementSibling : button.previousElementSibling;
  const currentQuantity = parseInt(quantityDisplay.textContent);
  const newQuantity = action === 'decrease' ? currentQuantity - 1 : currentQuantity + 1;

  if (newQuantity >= 1 && newQuantity <= 5) {
    updateQuantity(productId, newQuantity);
  } else {
    Swal.fire({
      icon: 'error',
      title: 'Error',
      text: 'Quantity must be between 1 and 5',
      toast: true,
      position: 'top-right',
      showConfirmButton: false,
      timer: 3000
    });
  }
}

decreaseButtons.forEach(button => {
  button.addEventListener("click", () => handleQuantityChange('decrease', button));
});

increaseButtons.forEach(button => {
  button.addEventListener("click", () => handleQuantityChange('increase', button));
});


//selecting the checked box items and sending that data to backend
let selectedProductIds = [];

const updateSelectedProducts = () => {
  const checkboxes = document.querySelectorAll('input[name="selectedCartItem"]');

  selectedProductIds = Array.from(checkboxes)
    .filter(checkbox => checkbox.checked)
    .map(checkbox => checkbox.value);
   
    sendToBackend();
    if (selectedProductIds.length === 0) {
    subTotalPrice.innerHTML = "Rs 0.00";
    totalPrice.innerHTML = "Rs 0.00";
    selection.innerHTML = `0 items selected`;
  }
  
};


document.querySelectorAll('input[name="selectedCartItem"]').forEach(checkbox => {

  checkbox.addEventListener('change', updateSelectedProducts);
 
 
});


const sendToBackend = () => {

 const subTotalPrice = document.getElementById('subTotalPrice')
 const discount = document.getElementById('discount')
 const deliveryCharge = document.getElementById('deliveryCharge')
 const totalPrice = document.getElementById('totalPrice')
 const selection = document.getElementById('selection')
 const  couponCode =  document.getElementById('couponCode').value 

  fetch('http://localhost:7000/cart/', {

    method: 'PATCH',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({ selectedProductIds,couponCode }),

  }).then((response)=>{

      if(!response.ok){

        throw new Error("Network response was not ok");

      }
      return response.json();
    }).then((data)=>{
     
    
      
      if (data.finalPrice && data.cartDetails && data.cartDetails.items) {
      subTotalPrice.innerHTML = `Rs ${data.finalPrice ? data.finalPrice : 0}`;
      totalPrice.innerHTML = `Rs ${data.finalPrice ? data.finalPrice : 0}`;
    
      const selectedItemsCount = data.cartDetails.items.filter(item => item.isSelected).length;
      selection.innerHTML = `${selectedItemsCount ? `${selectedItemsCount} items selected `: 'No items selected'}`;
      
       
}
    }).catch((error)=>{

      Swal.fire({
      icon: 'error',
      title: 'Error',
      text: `An error occurred: ${error.message}`,
      toast: true,
      position: 'top-right',
      showConfirmButton: false,
      timer: 3000
    });

    })
};

document.addEventListener("DOMContentLoaded", function() {
    const checkboxes = document.querySelectorAll('.form-check-input');
    const checkoutButton = document.getElementById('checkout');
    let values = [];

    checkboxes.forEach(function(checkbox) {
        handleCheckboxChange(checkbox);

        checkbox.addEventListener('change', function() {
            handleCheckboxChange(this);
        });
    });

    function handleCheckboxChange(checkbox) {
        const value = checkbox.value;

        if (checkbox.checked) {
            if (!values.includes(value)) {
                values.push(value);
            }
        } else {

            values = values.filter(v => v !== value);
        }

        console.log(values);

     
        checkoutButton.removeEventListener("click", handleCheckoutClick);
        checkoutButton.removeEventListener("click", handleNoSelection);

        if (values.length > 0) {
            checkoutButton.addEventListener("click", handleCheckoutClick);
        } else {
            checkoutButton.addEventListener("click", handleNoSelection);
        }
    }

    function handleCheckoutClick() {

        window.location.href = "http://localhost:7000/checkout";

    }

    function handleNoSelection(event) {
        event.preventDefault();
        Swal.fire({
        icon: 'warning',
        title: 'No Items Selected',
        text: 'Oops! Please select at least one item before proceeding.',
        toast: true,
        position: 'top-right',
        showConfirmButton: false,
        timer: 3000
      }); 
    }
});



</script>
  <!-- Vendor JS -->
  <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
  <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
  <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
  <script src="assets/js/plugins/slick.js"></script>
  <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
  <script src="assets/js/plugins/wow.js"></script>
  <script src="assets/js/plugins/jquery-ui.js"></script>
  <script src="assets/js/plugins/perfect-scrollbar.js"></script>
  <script src="assets/js/plugins/magnific-popup.js"></script>
  <script src="assets/js/plugins/select2.min.js"></script>
  <script src="assets/js/plugins/waypoints.js"></script>
  <script src="assets/js/plugins/counterup.js"></script>
  <script src="assets/js/plugins/jquery.countdown.min.js"></script>
  <script src="assets/js/plugins/images-loaded.js"></script>
  <script src="assets/js/plugins/isotope.js"></script>
  <script src="assets/js/plugins/scrollup.js"></script>
  <script src="assets/js/plugins/jquery.vticker-min.js"></script>
  <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
  <!-- Template  JS -->
  <script src="./assets/js/main.js?v=3.4"></script>
  <script src="./assets/js/shop.js?v=3.4"></script> 

    <!-- sweet alert js file from the installed npm install sweetalert2 library -->
  <script src="/modules/sweetalert2/dist/sweetalert2.min.js"></script>
</body>

</html>