<%- include('../layouts/userLayouts/header') %>
    <%- include('../layouts/userLayouts/navbar1') %>
        <main class="main">
            <section class="product-tabs section-padding position-relative wow fadeIn animated">
                <div class="bg-square"></div>
                <div class="container">
                    <div class="tab-content wow fadeIn animated" id="myTabContent">
                        <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                            <div class="container mt-5">
                                <div class="tab-pane fade show active" id="tab-one" role="tabpanel"
                                    aria-labelledby="tab-one">
                                    <div class="row product-grid-5">
                                        <% for(let i=0; i < productsArray.length; i++) { %>
                                            <div class="col-lg-2-4 col-md-3 col-6 col-sm-4">
                                                <div class="product-cart-wrap mb-30">
                                                    <div class="product-img-action-wrap">
                                                        <div class="product-img product-img-zoom">
                                                            <a href="/productDetails?id=<%= productsArray[i]._id %>">
                                                                <img class="default-img"
                                                                    src="/productImages/<%= productsArray[i]?.images[0]?.filename %>"
                                                                    alt="">
                                                            </a>
                                                        </div>
                                                
                                                        <div class="product-action-1">

                                                            <a aria-label="Add To Wishlist"
                                                                class="action-btn hover-up" href="#"><i
                                                                    class="fi-rs-heart"></i></a>
                                                        </div>
                                                        
                                                     
                       
                                                    </div>
                                                    <div class="product-content-wrap">
                                                        <div class="product-category">
                                                            <a  class="h4">
                                                                <%= productsArray[i].brand.name %>
                                                            </a>
                                                        </div>
                                                        <h5 style="  overflow: hidden;
                                                        text-overflow: ellipsis;
                                                        white-space: nowrap;"><a href="/productDetails?id=<%= productsArray[i]._id %>">
                                                                <%= productsArray[i].name %>
                                                            </a></h5>
                                                        <div class="rating-result" title="90%">
                                                            <span>
                                                                <span>90%</span>
                                                            </span>
                                                        </div>
                                                        <div class="product-price">
                                                            <%if(productsArray[i].isBlocked || productsArray[i].category?.isBlocked||productsArray?.isBlocked) { %>

                                                                
                                                                <span style="color: red;">Currently Unavailable</span>
                                                                <%} else { %>
                                                            <span>₹ <%= productsArray[i].salesPrice %> </span>
                                                            <span class="old-price">
                                                                <%= productsArray[i].regularPrice %>
                                                            </span>
                                                            <% } %>
                                                        </div>
                                                       
                                                    </div>

                                                </div>
                                            </div>
                                            <% } %>
                                    </div>
                                   
                                </div>
                            </div>
                          
                        </div>
                       
                    </div>
                 
                </div>
            </section>


        </main>

        <script>
             document.addEventListener('DOMContentLoaded', () => {
            // Retrieve the success message from EJS variable
            let successMessage = '<%= successMessage %>';

            if (successMessage) {
                Swal.fire({
                    text: successMessage,
                    icon: 'success',
                    toast: true,
                    position: 'top-right',
                    showConfirmButton: false,
                    timerProgressBar: true,
                    timer: 3000
                });
            }
        });
       

        </script>
        <%- include('../layouts/userLayouts/footer') %>