<%- include('../layouts/userLayouts/header') %>
    <%- include('../layouts/userLayouts/navbar1') %>
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/home" rel="nofollow">Home</a>
                    <span></span><a href="/showcase?targetGroup=<%= productDetails.targetGroup %>">
                        <%= productDetails.targetGroup %>
                    </a> <span></span> <a href="">Product Details</a>
                </div>
            </div>
        </div>
        <!-- mainview -->
        <main class="main">
            <section class="mt-50 mb-50">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-9">
                            <div class="product-detail accordion-detail">
                                <div class="row mb-50">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="detail-gallery">
                                            <% if (productDetails && productDetails.images &&
                                                productDetails.images.length> 0) { %>
                                                <div class="row justify-content-center">
                                                    <% for (let i=0; i < Math.min(productDetails.images.length, 4); i++)
                                                        { %>
                                                        <div
                                                            class="col-md-6 col-sm-6 col-6 mb-3 d-flex justify-content-center">
                                                            <img src="/productImages/<%= productDetails.images[i]?.filename %>"
                                                                class="img-fluid" alt="product image">
                                                        </div>
                                                        <% } %>
                                                </div>
                                                <% } else { %>
                                                    <p>No images available.</p>
                                                    <% } %>
                                        </div>
                                        <!-- End Gallery -->
                                    </div>

                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="detail-info">
                                            <h3 class="title-detail">
                                                <%= productDetails.name %>
                                            </h3>
                                            <div class="product-detail-rating">
                                                <div class="pro-details-brand">
                                                    <h4><span> Brand: <a href="#"style="color: #c0c0c0;">
                                                                <%= productDetails.brand.name %>
                                                            </a></span></h4>
                                                </div>
                                            </div>
                                            <div class="clearfix product-price-cover">
                                                <div class="product-price primary-color float-left">

                                                    <% if (productDetails?.productSalesPriceAfterOfferDiscount && new Date(productDetails?.productOffer?.offerExpiryDate) > new Date() && productDetails?.productSalesPriceAfterOfferDiscount !== 0&&productDetails?.productOffer?.offerStatus) { %>
                                                        <ins>
                                                            <span class="text-brand">₹ <%= productDetails?.productSalesPriceAfterOfferDiscount?.toFixed(2) %></span>
                                                        </ins>
                                                        <ins>
                                                            <span class="old-price font-md" style="margin-left: 5px;">
                                                                <%= productDetails?.salesPrice?.toFixed(2) %>
                                                            </span>
                                                        </ins>
                                                    <% } else { %>
                                                        <ins>
                                                            <span class="text-brand" style="font-size: 1.5em; font-weight: bold;">₹ <%= productDetails?.salesPrice %></span>
                                                        </ins>
                                                    <% } %>
                                                    <span class="discount-percentage" style="color: red; font-weight: bold; font-size: 1.2em; margin-left: 5px;">
                                                        <% if (productDetails?.productOffer && productDetails?.productOffer?.offerDiscountPercentage&&new Date(productDetails?.productOffer?.offerExpiryDate) > new Date()&&productDetails?.productSalesPriceAfterOfferDiscount!==0&&productDetails?.productOffer?.offerStatus) { %>
                                                            <%= productDetails?.productOffer?.offerDiscountPercentage %> % Off
                                                        <% } else { %>
                                                          
                                                        <% } %>
                                                    </span>
                                                    
                                                </div>
                                            </div>
                                            <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                            <div class="short-desc mb-30">
                                                <p>
                                                    <%= productDetails?.description %>
                                                </p>
                                            </div>


                                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                            <div class="detail-extralink"
                                                style="display: flex; justify-content: center ; align-items: center;">

                                                <% if (productDetails?.isBlocked || productDetails.category?.isBlocked
                                                    || productDetails.brand?.isBlocked||productDetails.stock<=0) { %>
                                                    <h4>
                                                        <div class="product-unavailable" style="color: red;">
                                                            Currently Unavailable
                                                        </div>
                                                    </h4>
                                                    <% } else { %>
                                                        <div class="product-extra-link2">
                                                            <% if (!existingCartItem) { %>
                                                                <button type="submit"
                                                                    onclick="addToCart('<%=productDetails._id%>')"
                                                                    id="addToCart" class="button button-add-to-cart">Add
                                                                    to Cart</button>
                                                                <% } else { %>
                                                                    <button type="submit" onclick="goToCart()"
                                                                        id="goToCart"
                                                                        class="button button-add-to-cart">Go to
                                                                        Cart</button>
                                                                    <% } %>
                                                        </div>
                                                        <% } %>
                                                        <% if (productInWishList) { %>
                                                            <div class="product-extra-link2" style="margin-left: 10px;">
                                                                <a aria-label="Remove From Wishlist" class="wishlist-link" data-product-id="<%= productDetails._id %>">
                                                                    <i class="fi-rs-heart" style="color: #f00;" onclick="removeFromWishList('<%= productDetails._id %>')"></i>
                                                                </a>
                                                            </div>
                                                        <% } else { %>
                                                            <div class="product-extra-link2" style="margin-left: 10px;">
                                                                <a aria-label="Add To Wishlist" class="wishlist-link" data-product-id="<%= productDetails._id %>">
                                                                    <i class="fi-rs-heart" onclick="addToWishList('<%= productDetails._id %>')"></i>
                                                                </a>
                                                            </div>
                                                        <% } %>
                                                    
                                            </div>

                                            <ul class="product-meta font-xs color-grey mt-50">



                                                <% if (productDetails.stock===0) { %>

                                                    <li>Availability: <span class="in-stock text-danger ml-5">Out of
                                                            stock</span></li>

                                                    <% } else if(!productDetails.isBlocked) { %>

                                                        <li>Availability: <span class="in-stock text-success ml-5">
                                                                <%= productDetails.stock %> Items In Stock
                                                            </span></li>

                                                        <% } %>

                                            </ul>
                                        </div>
                                        <!-- Detail Info -->
                                    </div>

                                </div>


                                <div class="tab-style3">
                                    <ul class="nav nav-tabs text-uppercase">
                                        <li class="nav-item">
                                            <a class="nav-link" id="Additional-info-tab" data-bs-toggle="tab"
                                                href="#Additional-info">Additional info</a>
                                        </li>
                                    </ul>


                                    <div class="tab-content shop_info_tab entry-main-content">

                                        <!-- Additional info section starts -->
                                        <div class="tab-pane fade" id="Additional-info">
                                            <table class="font-md">
                                                <tbody>
                                                    <tr class="stand-up">
                                                        <th>Display Type</th>
                                                        <td>
                                                            <p>
                                                                <%= productDetails.displayType %>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr class="folded-wo-wheels">
                                                        <th>Dial Shape</th>
                                                        <td>
                                                            <p>
                                                                <%= productDetails.dialShape %>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr class="folded-w-wheels">
                                                        <th>Strap Material</th>
                                                        <td>
                                                            <p>
                                                                <%= productDetails.strapMaterial %>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr class="door-pass-through">
                                                        <th>Strap Color</th>
                                                        <td>
                                                            <p>
                                                                <%= productDetails.strapColor %>
                                                            </p>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                             

                                <!-- Related products section starts -->
                                <div class="row mt-60">
                                    <div class="col-12">
                                        <h3 class="section-title style-1 mb-30">Related products</h3>
                                    </div>
                                    <div class="col-12">
                                        <div class="row related-products">
                                            <% if(relatedProducts.length>0) { %>
                                                <% for (let i=0; i < relatedProducts.length; i++) { %>
                                                    <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                                        <div class="product-cart-wrap small hover-up">
                                                            <div class="product-img-action-wrap">
                                                                <div class="product-img product-img-zoom">
                                                                    <a href="/productDetails?id=<%= relatedProducts[i]._id %>"
                                                                        tabindex="0">
                                                                        <img class="default-img"
                                                                            src="/productImages/<%= relatedProducts[i].images[0]?.filename %>"
                                                                            alt="">
                                                                        <img class="hover-img"
                                                                            src="/productImages/<%= relatedProducts[i].images[0]?.filename %>"
                                                                            alt="">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="product-content-wrap">
                                                                <h2  style="  overflow: hidden;
                                                                text-overflow: ellipsis;
                                                                white-space: nowrap;"><a href="/productDetails?id=<%= relatedProducts[i]._id %>"
                                                                        tabindex="0">
                                                                        <%= relatedProducts[i].name %>
                                                                    </a></h2>
                                                                <div>
                                                                    <span>
                                                                    </span>
                                                                </div>
                                                                <div class="product-price">
                                                                    <% if (relatedProducts[i].isBlocked || relatedProducts[i].category?.isBlocked || relatedProducts[i].brand?.isBlocked) { %>
                                                                        <span style="color: red; font-size: 15px;">Currently Unavailable</span>
                                                                    <% } else { %>
                                                                        <% if (relatedProducts[i]?.productSalesPriceAfterOfferDiscount && new Date(relatedProducts[i]?.productOffer?.offerExpiryDate) > new Date()&&relatedProducts[i]?.productSalesPriceAfterOfferDiscount!==0&&relatedProducts[i]?.productOffer?.offerStatus) { %>
                                                                            <span> ₹ <%= relatedProducts[i]?.productSalesPriceAfterOfferDiscount?.toFixed(3) %></span>
                                                                            <span class="old-price">
                                                                                ₹ <%= relatedProducts[i]?.salesPrice?.toFixed(3) %>
                                                                            </span>
                                                                        <% } else { %>
                                                                            <span> ₹ <%= relatedProducts[i]?.salesPrice?.toFixed(3) %></span>
                                                                        <% } %>
                                                                    <% } %>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                                        <% } else { %>
                                                            <div class="col-12">
                                                                <p>No Products Found Yet</p>
                                                            </div>
                                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                                <!-- Related products section ends -->
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </main>

        <script>

                //add to wishlist
                const addToWishList = async (productId) => {
                    try {

                        const response = await fetch(`http://localhost:7000/wishList`, {

                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ productId })
                        });

                        if (!response.ok) {

                            throw new Error(`Failed to add product to wishlist: ${response.statusText}`);
                        }

                        const result = await response.json();

                   

                        const icon = document.querySelector(`[data-product-id="${productId}"]`);
                        if (icon) {
                            icon.style.backgroundColor = '#fff';
                            icon.querySelector('i').style.color = '#f00';
                            icon.onclick = () => removeFromWishList(productId);

                        }
                        Swal.fire({
                            icon: 'success',
                            text: 'Product Added to wishlist successfully',
                            toast: true,
                            position: 'top-right',
                            showConfirmButton: false,
                            timerProgressBar: true,
                            timer: 3000
                        });

                    } catch (error) {

                        console.log('Error adding product to wishlist:', error);

                        window.location.href = "http://localhost:7000/signin"

                    }

                };
            //removing product from wishlist
            const removeFromWishList = async (productId) => {
                try {
                    const response = await fetch(`http://localhost:7000/wishList`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ productId })
                    });

                    if (!response.ok) {

                        throw new Error(`Failed to remove product from wishlist: ${response.statusText}`);
                    }

                    const result = await response.json();

           

                    const icon = document.querySelector(`[data-product-id="${productId}"]`);
                    if (icon) {
                        icon.style.backgroundColor = '';
                        icon.querySelector('i').style.color = '';
                        icon.onclick = () => addToWishList(productId);
                    }

                    Swal.fire({
                        icon: 'success',
                        text: 'Product removed from wishlist successfully',
                        toast: true,
                        position: 'top-right',
                        showConfirmButton: false,
                        timerProgressBar: true,
                        timer: 3000
                    });

                } catch (error) {
                    console.log('Error removing product from wishlist:', error);

                    Swal.fire({
                        icon: 'error',
                        text: 'Error removing product from wishlist',
                        toast: true,
                        position: 'top-right',
                        showConfirmButton: false,
                        timerProgressBar: true,
                        timer: 3000
                    });
                }
            };

            const addToCart = (productId) => {

                const addToCartButton = document.getElementById("addToCart")

                fetch(`http://localhost:7000/productDetails/`, {

                    method: "POST",
                    headers: {

                        "Content-Type": "application/json"
                    },

                    body: JSON.stringify({ productId })

                }).then((response) => {

                    if (!response.ok) {

                        throw new Error("Network response was not ok")
                    }

                    return response.json()

                }).then((data) => {

                  
                    if(data.success){

                        Swal.fire({
                        icon: 'success',
                        text: 'The product has been added to your cart successfully.',
                        toast: true,
                        position: 'top-right',
                        showConfirmButton: false,
                        timerProgressBar: true,
                        timer: 3000
                    });

                    addToCartButton.textContent = "Go to Cart"
                    addToCartButton.removeAttribute("onclick")
                    addToCartButton.addEventListener("click", () => {

                         window.location.href = "http://localhost:7000/cart"
                    })

                    }
                                        
              

                }).catch((error) => {

                    console.log(`error while fetching the data`, error.message)
            
                    window.location.href = "http://localhost:7000/signin"

                })


            }

            const goToCart = () => {

                window.location.href = "http://localhost:7000/cart"
            }
        </script>

        <%- include('../layouts/userLayouts/footer') %>