<%- include('../layouts/userLayouts/header') %>
    <%- include('../layouts/userLayouts/navbar1') %>
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/home" rel="nofollow">Home</a>
                    <span></span><a href="/showcase?targetGroup=<%= productDetails.targetGroup %>">
                        <%= productDetails.targetGroup %>
                    </a> <span></span> <a href="">Product Details</a>
                </div>
            </div>
        </div>
        <div class="mobile-header-active mobile-header-wrapper-style">
            <div class="mobile-header-wrapper-inner">
                <div class="mobile-header-top">
                    <div class="mobile-header-logo">
                        <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                        <button class="close-style search-close">
                            <i class="icon-top"></i>
                            <i class="icon-bottom"></i>
                        </button>
                    </div>
                </div>
                <div class="mobile-header-content-area">
                    <div class="mobile-search search-style-3 mobile-header-border">
                        <form action="#">
                            <input type="text" placeholder="Search for items…">
                            <button type="submit"><i class="fi-rs-search"></i></button>
                        </form>
                    </div>


                    <div class="mobile-social-icon">
                        <h5 class="mb-15 text-grey-4">Follow Us</h5>
                        <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                        <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                        <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                        <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                        <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>



        <!-- mainview -->
        <main class="main">
            <section class="mt-50 mb-50">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-9">
                            <div class="product-detail accordion-detail">
                                <div class="row mb-50">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="detail-gallery">
                                            <% if (productDetails && productDetails.images &&
                                                productDetails.images.length> 0) { %>
                                                <div class="row justify-content-center">
                                                    <% for (let i=0; i < Math.min(productDetails.images.length, 4); i++)
                                                        { %>
                                                        <div
                                                            class="col-md-6 col-sm-6 col-6 mb-3 d-flex justify-content-center">
                                                            <img src="/productImages/<%= productDetails.images[i]?.filename %>"
                                                                class="img-fluid" alt="product image">
                                                        </div>
                                                        <% } %>
                                                </div>
                                                <% } else { %>
                                                    <p>No images available.</p>
                                                    <% } %>
                                        </div>
                                        <!-- End Gallery -->
                                    </div>

                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="detail-info">
                                            <h3 class="title-detail">
                                                <%= productDetails.name %>
                                            </h3>
                                            <div class="product-detail-rating">
                                                <div class="pro-details-brand">
                                                    <h4><span> Brand: <a href="#">
                                                                <%= productDetails.brand.name %>
                                                            </a></span></h4>
                                                </div>
                                                <div class="product-rate-cover text-end">
                                                    <div class="product-rate d-inline-block">
                                                        <div class="product-rating" style="width:90%">
                                                        </div>
                                                    </div>
                                                    <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                                </div>
                                            </div>
                                            <div class="clearfix product-price-cover">
                                                <div class="product-price primary-color float-left">
                                                    <ins><span class="text-brand">₹ <%= productDetails.salesPrice %>
                                                        </span></ins>
                                                    <ins><span class="old-price font-md ml-15">
                                                            <%= productDetails.regularPrice %>
                                                        </span></ins>

                                                </div>
                                            </div>
                                            <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                            <div class="short-desc mb-30">
                                                <p>
                                                    <%= productDetails.description %>
                                                </p>
                                            </div>


                                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                            <div class="detail-extralink"
                                                style="display: flex; justify-content: center ; align-items: center;">

                                                <% if (productDetails?.isBlocked || productDetails.category?.isBlocked
                                                    || productDetails.brand?.isBlocked||productDetails.stock<=0) { %>
                                                    <h4>
                                                        <div class="product-unavailable" style="color: red;">
                                                            Currently Unavailable
                                                        </div>
                                                    </h4>
                                                    <% } else { %>
                                                        <div class="product-extra-link2">
                                                            <% if (!existingCartItem) { %>
                                                                <button type="submit"
                                                                    onclick="addToCart('<%=productDetails._id%>')"
                                                                    id="addToCart" class="button button-add-to-cart">Add
                                                                    to Cart</button>
                                                                <% } else { %>
                                                                    <button type="submit" onclick="goToCart()"
                                                                        id="goToCart"
                                                                        class="button button-add-to-cart">Go to
                                                                        Cart</button>
                                                                    <% } %>
                                                        </div>
                                                        <!-- <div class="product-extra-link2">
                                                            <button type="submit" class="button button-add-to-cart"
                                                                id="buyNow" style="margin-left: 10px;">Buy Now</button>
                                                        </div> -->
                                                        <% } %>
                                                        <% if (productInWishList) { %>
                                                            <div class="product-extra-link2" style="margin-left: 10px;">
                                                                <a aria-label="Remove From Wishlist" class="wishlist-link" data-product-id="<%= productDetails._id %>">
                                                                    <i class="fi-rs-heart" style="color: #f00;" onclick="removeFromWishList('<%= productDetails._id %>')"></i>
                                                                </a>
                                                            </div>
                                                        <% } else { %>
                                                            <div class="product-extra-link2" style="margin-left: 10px;">
                                                                <a aria-label="Add To Wishlist" class="wishlist-link" data-product-id="<%= productDetails._id %>">
                                                                    <i class="fi-rs-heart" onclick="addToWishList('<%= productDetails._id %>')"></i>
                                                                </a>
                                                            </div>
                                                        <% } %>
                                                    
                                            </div>

                                            <ul class="product-meta font-xs color-grey mt-50">



                                                <% if (productDetails.stock===0) { %>

                                                    <li>Availability: <span class="in-stock text-danger ml-5">Out of
                                                            stock</span></li>

                                                    <% } else if(!productDetails.isBlocked) { %>

                                                        <li>Availability: <span class="in-stock text-success ml-5">
                                                                <%= productDetails.stock %> Items In Stock
                                                            </span></li>

                                                        <% } %>

                                            </ul>
                                        </div>
                                        <!-- Detail Info -->
                                    </div>

                                </div>


                                <div class="tab-style3">
                                    <ul class="nav nav-tabs text-uppercase">
                                        <li class="nav-item">
                                            <a class="nav-link" id="Additional-info-tab" data-bs-toggle="tab"
                                                href="#Additional-info">Additional info</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="Reviews-tab" data-bs-toggle="tab"
                                                href="#Reviews">Reviews (3)</a>
                                        </li>
                                    </ul>


                                    <div class="tab-content shop_info_tab entry-main-content">

                                        <!-- Additional info section starts -->
                                        <div class="tab-pane fade" id="Additional-info">
                                            <table class="font-md">
                                                <tbody>
                                                    <tr class="stand-up">
                                                        <th>Display Type</th>
                                                        <td>
                                                            <p>
                                                                <%= productDetails.displayType %>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr class="folded-wo-wheels">
                                                        <th>Dial Shape</th>
                                                        <td>
                                                            <p>
                                                                <%= productDetails.dialShape %>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr class="folded-w-wheels">
                                                        <th>Strap Material</th>
                                                        <td>
                                                            <p>
                                                                <%= productDetails.strapMaterial %>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr class="door-pass-through">
                                                        <th>Strap Color</th>
                                                        <td>
                                                            <p>
                                                                <%= productDetails.strapColor %>
                                                            </p>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>

                                        <!-- Additional info section ends -->


                                        <div class="tab-pane fade" id="Reviews">
                                            <!--Comments-->
                                            <div class="comments-area">
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <h4 class="mb-30">Customer questions & answers</h4>
                                                        <div class="comment-list">
                                                            <div class="single-comment justify-content-between d-flex">
                                                                <div class="user justify-content-between d-flex">
                                                                    <div class="thumb text-center">
                                                                        <img src="assets/imgs/page/avatar-6.jpg" alt="">
                                                                        <h6><a href="#">Jacky Chan</a></h6>
                                                                        <p class="font-xxs">Since 2012</p>
                                                                    </div>
                                                                    <div class="desc">
                                                                        <div class="product-rate d-inline-block">
                                                                            <div class="product-rating"
                                                                                style="width:90%">
                                                                            </div>
                                                                        </div>
                                                                        <p>Thank you very fast shipping from Poland only
                                                                            3days.</p>
                                                                        <div class="d-flex justify-content-between">
                                                                            <div class="d-flex align-items-center">
                                                                                <p class="font-xs mr-30">December 4,
                                                                                    2020 at 3:12 pm </p>
                                                                                <a href="#"
                                                                                    class="text-brand btn-reply">Reply
                                                                                    <i class="fi-rs-arrow-right"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--single-comment -->
                                                            <div class="single-comment justify-content-between d-flex">
                                                                <div class="user justify-content-between d-flex">
                                                                    <div class="thumb text-center">
                                                                        <img src="assets/imgs/page/avatar-7.jpg" alt="">
                                                                        <h6><a href="#">Ana Rosie</a></h6>
                                                                        <p class="font-xxs">Since 2008</p>
                                                                    </div>
                                                                    <div class="desc">
                                                                        <div class="product-rate d-inline-block">
                                                                            <div class="product-rating"
                                                                                style="width:90%">
                                                                            </div>
                                                                        </div>
                                                                        <p>Great low price and works well.</p>
                                                                        <div class="d-flex justify-content-between">
                                                                            <div class="d-flex align-items-center">
                                                                                <p class="font-xs mr-30">December 4,
                                                                                    2020 at 3:12 pm </p>
                                                                                <a href="#"
                                                                                    class="text-brand btn-reply">Reply
                                                                                    <i class="fi-rs-arrow-right"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--single-comment -->
                                                            <div class="single-comment justify-content-between d-flex">
                                                                <div class="user justify-content-between d-flex">
                                                                    <div class="thumb text-center">
                                                                        <img src="assets/imgs/page/avatar-8.jpg" alt="">
                                                                        <h6><a href="#">Steven Keny</a></h6>
                                                                        <p class="font-xxs">Since 2010</p>
                                                                    </div>
                                                                    <div class="desc">
                                                                        <div class="product-rate d-inline-block">
                                                                            <div class="product-rating"
                                                                                style="width:90%">
                                                                            </div>
                                                                        </div>
                                                                        <p>Authentic and Beautiful, Love these way more
                                                                            than ever expected They are Great earphones
                                                                        </p>
                                                                        <div class="d-flex justify-content-between">
                                                                            <div class="d-flex align-items-center">
                                                                                <p class="font-xs mr-30">December 4,
                                                                                    2020 at 3:12 pm </p>
                                                                                <a href="#"
                                                                                    class="text-brand btn-reply">Reply
                                                                                    <i class="fi-rs-arrow-right"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <!--star section starts -->
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h4 class="mb-30">Customer reviews</h4>
                                                        <div class="d-flex mb-30">
                                                            <div class="product-rate d-inline-block mr-15">
                                                                <div class="product-rating" style="width:90%">
                                                                </div>
                                                            </div>
                                                            <h6>4.8 out of 5</h6>
                                                        </div>
                                                        <div class="progress">
                                                            <span>5 star</span>
                                                            <div class="progress-bar" role="progressbar"
                                                                style="width: 50%;" aria-valuenow="50" aria-valuemin="0"
                                                                aria-valuemax="100">50%</div>
                                                        </div>
                                                        <div class="progress">
                                                            <span>4 star</span>
                                                            <div class="progress-bar" role="progressbar"
                                                                style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                                                                aria-valuemax="100">25%</div>
                                                        </div>
                                                        <div class="progress">
                                                            <span>3 star</span>
                                                            <div class="progress-bar" role="progressbar"
                                                                style="width: 45%;" aria-valuenow="45" aria-valuemin="0"
                                                                aria-valuemax="100">45%</div>
                                                        </div>
                                                        <div class="progress">
                                                            <span>2 star</span>
                                                            <div class="progress-bar" role="progressbar"
                                                                style="width: 65%;" aria-valuenow="65" aria-valuemin="0"
                                                                aria-valuemax="100">65%</div>
                                                        </div>
                                                        <div class="progress mb-30">
                                                            <span>1 star</span>
                                                            <div class="progress-bar" role="progressbar"
                                                                style="width: 85%;" aria-valuenow="85" aria-valuemin="0"
                                                                aria-valuemax="100">85%</div>
                                                        </div>
                                                        <a href="#" class="font-xs text-muted">How are ratings
                                                            calculated?</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--star section ends -->


                                            <!--comment form starts-->
                                            <div class="comment-form">
                                                <h4 class="mb-15">Add a review</h4>
                                                <div class="product-rate d-inline-block mb-30">
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-8 col-md-12">
                                                        <form class="form-contact comment_form" action="#"
                                                            id="commentForm">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <textarea class="form-control w-100"
                                                                            name="comment" id="comment" cols="30"
                                                                            rows="9"
                                                                            placeholder="Write Comment"></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <input class="form-control" name="name"
                                                                            id="name" type="text" placeholder="Name">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <input class="form-control" name="email"
                                                                            id="email" type="email" placeholder="Email">
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <input class="form-control" name="website"
                                                                            id="website" type="text"
                                                                            placeholder="Website">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <button type="submit"
                                                                    class="button button-contactForm">Submit
                                                                    Review</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--comment form ends-->



                                <!-- Related products section starts -->
                                <div class="row mt-60">
                                    <div class="col-12">
                                        <h3 class="section-title style-1 mb-30">Related products</h3>
                                    </div>
                                    <div class="col-12">
                                        <div class="row related-products">
                                            <% if(relatedProducts.length>0) { %>
                                                <% for (let i=0; i < relatedProducts.length; i++) { %>
                                                    <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                                        <div class="product-cart-wrap small hover-up">
                                                            <div class="product-img-action-wrap">
                                                                <div class="product-img product-img-zoom">
                                                                    <a href="/productDetails?id=<%= relatedProducts[i]._id %>"
                                                                        tabindex="0">
                                                                        <img class="default-img"
                                                                            src="/productImages/<%= relatedProducts[i].images[0]?.filename %>"
                                                                            alt="">
                                                                        <img class="hover-img"
                                                                            src="/productImages/<%= relatedProducts[i].images[0]?.filename %>"
                                                                            alt="">
                                                                    </a>
                                                                </div>
                                                                <div class="product-action-1">

                                                                    <a aria-label="Add To Wishlist"
                                                                        class="action-btn small hover-up" href="#"
                                                                        tabindex="0"><i class="fi-rs-heart"></i></a>

                                                                </div>

                                                            </div>
                                                            <div class="product-content-wrap">
                                                                <h2><a href="/productDetails?id=<%= relatedProducts[i]._id %>"
                                                                        tabindex="0">
                                                                        <%= relatedProducts[i].name %>
                                                                    </a></h2>
                                                                <div class="rating-result" title="90%">
                                                                    <span>
                                                                    </span>
                                                                </div>
                                                                <div class="product-price">
                                                                    <%if(relatedProducts[i].isBlocked ||
                                                                        relatedProducts[i].category?.isBlocked
                                                                        ||relatedProducts[i].brand?.isBlocked){%>

                                                                        <span
                                                                            style="color: red; font-size: 15px;">Currently
                                                                            Unavailable</span>
                                                                        <% } else { %>
                                                                            <span> ₹ <%= relatedProducts[i].salesPrice
                                                                                    %></span>
                                                                            <span class="old-price">
                                                                                <%= relatedProducts[i].regularPrice %>
                                                                            </span>
                                                                            <% } %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                                        <% } else { %>
                                                            <div class="col-12">
                                                                <p>No Products Found Yet</p>
                                                            </div>
                                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                                <!-- Related products section ends -->
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </main>

        <script>

                //add to wishlist
                const addToWishList = async (productId) => {
                    try {

                        const response = await fetch(`http://localhost:7000/wishList`, {

                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ productId })
                        });

                        if (!response.ok) {

                            throw new Error(`Failed to add product to wishlist: ${response.statusText}`);
                        }

                        const result = await response.json();

                        console.log('Product added to wishlist:', result);

                        const icon = document.querySelector(`[data-product-id="${productId}"]`);
                        if (icon) {
                            icon.style.backgroundColor = '#fff';
                            icon.querySelector('i').style.color = '#f00';
                            icon.onclick = () => removeFromWishList(productId);

                        }
                        Swal.fire({
                            icon: 'success',
                            text: 'Product Added to wishlist successfully',
                            toast: true,
                            position: 'top-right',
                            showConfirmButton: false,
                            timerProgressBar: true,
                            timer: 3000
                        });

                    } catch (error) {

                        console.log('Error adding product to wishlist:', error);

                        window.location.href = "http://localhost:7000/signin"

                    }

                };
            //removing product from wishlist
            const removeFromWishList = async (productId) => {
                try {
                    const response = await fetch(`http://localhost:7000/wishList`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ productId })
                    });

                    if (!response.ok) {

                        throw new Error(`Failed to remove product from wishlist: ${response.statusText}`);
                    }

                    const result = await response.json();

                    console.log('Product removed from wishlist:', result);

                    const icon = document.querySelector(`[data-product-id="${productId}"]`);
                    if (icon) {
                        icon.style.backgroundColor = '';
                        icon.querySelector('i').style.color = '';
                        icon.onclick = () => addToWishList(productId);
                    }

                    Swal.fire({
                        icon: 'success',
                        text: 'Product removed from wishlist successfully',
                        toast: true,
                        position: 'top-right',
                        showConfirmButton: false,
                        timerProgressBar: true,
                        timer: 3000
                    });

                } catch (error) {
                    console.log('Error removing product from wishlist:', error);

                    Swal.fire({
                        icon: 'error',
                        text: 'Error removing product from wishlist',
                        toast: true,
                        position: 'top-right',
                        showConfirmButton: false,
                        timerProgressBar: true,
                        timer: 3000
                    });
                }
            };

            const addToCart = (productId) => {

                const addToCartButton = document.getElementById("addToCart")

                fetch(`http://localhost:7000/productDetails/`, {

                    method: "POST",
                    headers: {

                        "Content-Type": "application/json"
                    },

                    body: JSON.stringify({ productId })

                }).then((response) => {

                    if (!response.ok) {

                        throw new Error("Network response was not ok")
                    }

                    return response.json()

                }).then((data) => {

                    console.log(data);
                    if(data.success){

                        Swal.fire({
                        icon: 'success',
                        text: 'The product has been added to your cart successfully.',
                        toast: true,
                        position: 'top-right',
                        showConfirmButton: false,
                        timerProgressBar: true,
                        timer: 3000
                    });

                    addToCartButton.textContent = "Go to Cart"
                    addToCartButton.removeAttribute("onclick")
                    addToCartButton.addEventListener("click", () => {

                         window.location.href = "http://localhost:7000/cart"
                    })

                    }
                                        
              

                }).catch((error) => {

                    console.log(`error while fetching the data`, error.message)
            
                    window.location.href = "http://localhost:7000/signin"

                })


            }

            const goToCart = () => {

                window.location.href = "http://localhost:7000/cart"
            }
        </script>

        <%- include('../layouts/userLayouts/footer') %>