<%- include('../layouts/userLayouts/header') %>
    <%- include('../layouts/userLayouts/navbar1') %>
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/home" rel="nofollow">Home</a>  
                <span></span><a href="/showcase?targetGroup=<%= targetGroup %>"><%= targetGroup %></a> 
            </div>
        </div>
    </div>
        <main class="main">
            <section class="product-tabs pt-25 pb-20 wow fadeIn animated">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3" id="filteredProductsContainer">
                            <div class="widget-category mb-30">
                                <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                                <% if (categoriesArray.length> 0) { %>
                                    <div class="custome-checkbox">
                                        <% for (let i=0; i < categoriesArray.length; i++) { %>
                                            <div>
                                                <input class="form-check-input filter-checkbox" type="checkbox" name="category"
                                                    id="categoryCheckBox<%= categoriesArray[i]._id %>"
                                                    value="<%= categoriesArray[i]._id %>">
                                                <label class="form-check-label" for="categoryCheckBox<%= categoriesArray[i]._id %>"><span>
                                                        <%= categoriesArray[i].name %>
                                                    </span></label>
                                            </div>
                                            <% } %>
                                    </div>
                                    <% } else { %>
                                        <p>No categories available.</p>
                                        <% } %>
                            </div>
                            <div class="widget-category mb-30">
                                <h5 class="section-title style-1 mb-30 wow fadeIn animated">Brand</h5>
                                <% if (brandArray.length> 0) { %>
                                    <div class="custome-checkbox">
                                        <% for (let i=0; i < brandArray.length; i++) { %>
                                            <div>
                                                <input class="form-check-input filter-checkbox" type="checkbox" name="brand"
                                                    id="brandCheckBox<%= brandArray[i]._id %>"
                                                    value="<%= brandArray[i]._id %>">
                                                <label class="form-check-label" for="brandCheckBox<%= brandArray[i]._id %>"><span>
                                                        <%= brandArray[i].name %>
                                                    </span></label>
                                            </div>
                                            <% } %>
                                    </div>
                                    <% } else { %>
                                        <p>No Brands available.</p>
                                        <% } %>
                            </div>

                            <div class="widget-category mb-30">
                                <h5 class="section-title style-1 mb-30 wow fadeIn animated">Sort by</h5>
                                <div class="custome-checkbox">
                
                                    <div>
                                        <input class="form-check-input filter-checkbox" type="checkbox" name="sortby" id="sortLowHigh"
                                            value="priceLowHigh">
                                        <label class="form-check-label" for="sortLowHigh"><span>Price: Low to
                                                High</span></label>
                                    </div>
                                    <div>
                                        <input class="form-check-input filter-checkbox" type="checkbox" name="sortby" id="sortHighLow"
                                            value="priceHighLow">
                                        <label class="form-check-label" for="sortHighLow"><span>Price: High to
                                                Low</span></label>
                                    </div>
                              
                                    <div>
                                        <input class="form-check-input filter-checkbox" type="checkbox" name="sortby" id="newArrivals"
                                            value="newArrivals">
                                        <label class="form-check-label" for="newArrivals"><span>New Arrivals</span></label>
                                    </div>
                                    <div>
                                        <input class="form-check-input filter-checkbox" type="checkbox" name="sortby" id="aToZ"
                                            value="aToZ">
                                        <label class="form-check-label" for="aToZ"><span>aA-zZ</span></label>
                                    </div>
                                    <div>
                                        <input class="form-check-input filter-checkbox" type="checkbox" name="sortby" id="zToA"
                                            value="zToA">
                                        <label class="form-check-label" for="zToA"><span>zZ-aA</span></label>
                                    </div>
                                    <div>
                                        <input class="form-check-input filter-checkbox" type="checkbox" name="sortby" id="OutOfStock"
                                            value="OutOfStock">
                                        <label class="form-check-label" for="OutOfStock"><span>Out of stock</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                


                      

                        <div class="col-lg-9">
                            <div class="tab-content wow fadeIn animated" id="myTabContent">
                                <div class="tab-pane fade show active" id="tab-one" role="tabpanel"
                                    aria-labelledby="tab-one">
                                    <div class="row product-grid-4">
                                        <% if(productsArray.length> 0) { %>
                                            <% for (let i=0; i < productsArray.length; i++) { %>
                                                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                                    <div class="product-cart-wrap mb-30">
                                                        <div class="product-img-action-wrap">
                                                            <div class="product-img product-img-zoom">
                                                                <a
                                                                    href="/productDetails?id=<%= productsArray[i]._id %>">

                                                                    <img class="default-img"
                                                                        src="/productImages/<%= productsArray[i].images[0]?.filename %>"
                                                                        alt="">


                                                                </a>
                                                            </div>
                                                            <div class="product-action-1">

                                                                <a aria-label="Add To Wishlist"
                                                                    class="action-btn hover-up" href="#"><i
                                                                        class="fi-rs-heart"></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="product-content-wrap ">
                                                            <div class="product-category ">
                                                                <a >
                                                                    <%= productsArray[i].brand.name %>
                                                                </a>
                                                            </div>
                                                            <h5 style="  overflow: hidden;
                                                            text-overflow: ellipsis;
                                                            white-space: nowrap;" ><a
                                                                    href="/productDetails?id=<%= productsArray[i]._id %>">
                                                                    <%= productsArray[i].name %>
                                                                </a></h5>
                                                            <div class="rating-result" title="90%">
                                                                <span>
                                                                    <span>90%</span>
                                                                </span>
                                                            </div>
                                                            <div class="product-price">
                                                                
                                                                <% if (productsArray[i].isBlocked ||productsArray[i].category?.isBlocked ||productsArray[i].brand?.isBlocked ||productsArray[i].stock===0) { %>

                                                                    <span style="color: red;">Currently Unavailable</span>
                                                                    
                                                                <% } else { %>
                                                                    <span>₹ <%= productsArray[i].salesPrice %></span>
                                                                    <span class="old-price"><%= productsArray[i].regularPrice %></span>
                                                                    
                                                                <% } %>
                                                            </div>
                                                            
                                                            <!-- <div class="product-action-1 show">
                                                                <a aria-label="Add To Cart"
                                                                    class="btn btn-outline-primary btn-sm hover-up"
                                                                    href="#">
                                                                    <i class="fi-rs-shopping-bag-add"></i> Add to Cart
                                                                </a>
                                                            </div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %>
                                                    <% } else { %>
                                                        <div class="col-12">
                                                            <p>No Products Found Yet</p>
                                                        </div>
                                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-padding">
                <div class="container wow fadeIn animated">
                    <h3 class="section-title mb-20"><span>New</span> Arrivals</h3>
                    <div class="carausel-6-columns-cover position-relative">
                        <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow"
                            id="carausel-6-columns-2-arrows"></div>
                        <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">
                            <% if(latestProducts.length> 0) { %>
                                <% for (let i=0; i < latestProducts.length; i++) { %>
                                    <div class="product-cart-wrap small hover-up">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="/productDetails?id=<%= latestProducts[i]._id %>">
                                                    <img class="default-img"
                                                        src="/productImages/<%= latestProducts[i]?.images[0].filename %>"
                                                        alt="">
                                                    <!-- <img class="hover-img" src="assets/imgs/shop/product-2-2.jpg" alt=""> -->
                                                </a>
                                            </div>
                                            <div class="product-action-1">
                                                <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                                    href="#" tabindex="0"><i class="fi-rs-heart"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <h6 style="  overflow: hidden;
                                            text-overflow: ellipsis;
                                            white-space: nowrap;"><a href="/productDetails?id=<%= latestProducts[i]._id %>">
                                                    <%= latestProducts[i].name %>
                                                </a></h6>
                                            <div class="rating-result" title="90%">
                                                <span></span>
                                            </div>
                                            <div class="product-price">
                                                <% if (latestProducts[i].isBlocked||latestProducts[i].category?.isBlocked||latestProducts[i].brand?.isBlocked) { %>
                                                    <span style="color: red; font-size: 15px;">Currently Unavailable</span>
                                                <% } else { %>

                                                    <span>₹ <%= latestProducts[i].salesPrice %></span>
                                                    <span class="old-price"><%= latestProducts[i].regularPrice %></span>
                                                   
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                        <% } else { %>
                                            <div class="col-12">
                                                <p>No Products Found Yet</p>
                                            </div>
                                            <% } %>

                                            
                        </div>
                    </div>
                </div>
            </section>

        </main>


        <script>

const advancedSearch = () => {

    const selectedCategories = Array.from(document.querySelectorAll('input[name="category"]:checked')).map(boxValue => boxValue.value);
    const selectedBrands = Array.from(document.querySelectorAll('input[name="brand"]:checked')).map(boxValue => boxValue.value);
    const sortOptions = Array.from(document.querySelectorAll('input[name="sortby"]:checked')).map(boxValue => boxValue.value);
    const urlParams = new URLSearchParams(window.location.search);
    const targetGroup = urlParams.get('targetGroup');
    
    const filterData = {
        categories: selectedCategories.join(","),
        brands: selectedBrands.join(","),
        sortby: sortOptions.join(","),
        targetGroup: targetGroup
    }

    console.log(filterData)

    const queryString = new URLSearchParams(filterData).toString();

   
    fetch(`http://localhost:7000/filter?${queryString}`, {

        method: "GET",
        headers: {
            'Content-Type': 'application/json',
        },
    }).then(response => {
        if (!response.ok) {
            throw new Error("Network response was not ok");
        }
        return response.json();
    }).then((data) => {
        console.log(`data received from the backend`, data);

        updateProductDisplay(data.data);

    }).catch(error => {
        console.error('Error:', error);
    });
};

const filterCheckboxes = document.querySelectorAll('.filter-checkbox');
    
filterCheckboxes.forEach(checkbox => {

    checkbox.addEventListener('change', advancedSearch);

});

const updateProductDisplay = (data) =>{

    console.log(data);
    const productContainer = document.querySelector('.product-grid-4');
    productContainer.innerHTML = '';  

    if (data.length > 0) {
        data.forEach(product => {
            const productHTML = `
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                    <div class="product-cart-wrap mb-30">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="/productDetails?id=${product._id}">
                                    <img class="default-img" src="/productImages/${product.images[0]?.filename}" alt="">
                                </a>
                            </div>
                            <div class="product-action-1">
                                <a aria-label="Add To Wishlist" class="action-btn hover-up" href="#"><i class="fi-rs-heart"></i></a>
                            </div>
                        </div>
                        <div class="product-content-wrap">
                            <div class="product-category">
                                <a href="#">${product.brandData[0].name}</a>
                            </div>
                            <h5 style="  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;"><a href="/productDetails?id=${product._id}">${product.name}</a></h5>
                            <div class="rating-result" title="90%">
                                <span>
                                    <span>90%</span>
                                </span>
                            </div>
                            <div class="product-price">
                                ${product.isBlocked || product.category?.isBlocked || product.brand?.isBlocked|| product.stock===0 ? 
                                `<span style="color: red;">Currently Unavailable</span>` :
                                `<span>₹ ${product.salesPrice}</span>
                                 <span class="old-price">${product.regularPrice}</span>`}
                            </div>
                        </div>
                    </div>
                </div>`;
            productContainer.insertAdjacentHTML('beforeend', productHTML);
        });
    } else {
        productContainer.innerHTML = '<div class="col-12"><p>No Products Found Yet</p></div>';
    }
   
}
        </script>
        <%- include('../layouts/userLayouts/footer') %>