<%- include('../layouts/userLayouts/header') %>
    <%- include('../layouts/userLayouts/navbar1') %>
        <style>
            .pagination-area {
                display: flex;
                justify-content: center;
                margin: 30px 0;
            }

            .pagination {
                display: flex;
                gap: 5px;
            }

            .page-item {
                margin: 0 2px;
            }

            .product-img-action-wrap {
                position: relative;
            }

            .heart-icon {
                position: absolute;
                top: 9px;
                right: 10px;
                z-index: 10;
                background-color: rgba(255, 255, 255, 0.8);
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
            }


            .product-cart-wrap {
                border: none;
                box-shadow: none;
            }

            .product-cart-wrap:hover {
                box-shadow: none;
            }

            .product-img-action-wrap {
                position: relative;
            }

            .offer-tag {
                position: absolute;
                top: 10px;
                right: 10px;
                background-color: red;
                color: white;
                padding: 5px 10px;
                border-radius: 5px;
                font-weight: bold;
                z-index: 20;
                pointer-events: none;
            }

            .product-img {
                position: relative;
            }
        </style>
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/home" rel="nofollow">Home</a>
                    <span></span><a href="/showcase?targetGroup=<%= targetGroup %>">
                        <%= targetGroup %>
                    </a>
                </div>
            </div>
        </div>
        <main class="main">
            <section class="product-tabs pt-25 pb-20 wow fadeIn animated">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3" id="filteredProductsContainer">
                            <div class="widget-category mb-30">
                                <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                                <% if (categoriesArray.length> 0) { %>
                                    <div class="custome-checkbox">
                                        <% for (let i=0; i < categoriesArray.length; i++) { %>
                                            <div>
                                                <input class="form-check-input filter-checkbox" type="checkbox"
                                                    name="category" id="categoryCheckBox<%= categoriesArray[i]._id %>"
                                                    value="<%= categoriesArray[i]._id %>">
                                                <label class="form-check-label"
                                                    for="categoryCheckBox<%= categoriesArray[i]._id %>"><span>
                                                        <%= categoriesArray[i].name %>
                                                    </span></label>
                                            </div>
                                            <% } %>
                                    </div>
                                    <% } else { %>
                                        <p>No categories available.</p>
                                        <% } %>
                            </div>
                            <div class="widget-category mb-30">
                                <h5 class="section-title style-1 mb-30 wow fadeIn animated">Brand</h5>
                                <% if (brandArray.length> 0) { %>
                                    <div class="custome-checkbox">
                                        <% for (let i=0; i < brandArray.length; i++) { %>
                                            <div>
                                                <input class="form-check-input filter-checkbox" type="checkbox"
                                                    name="brand" id="brandCheckBox<%= brandArray[i]._id %>"
                                                    value="<%= brandArray[i]._id %>">
                                                <label class="form-check-label"
                                                    for="brandCheckBox<%= brandArray[i]._id %>"><span>
                                                        <%= brandArray[i].name %>
                                                    </span></label>
                                            </div>
                                            <% } %>
                                    </div>
                                    <% } else { %>
                                        <p>No Brands available.</p>
                                        <% } %>
                            </div>

                            <div class="widget-category mb-30">
                                <h5 class="section-title style-1 mb-30 wow fadeIn animated">Sort by</h5>
                                <div class="custome-checkbox">

                                    <div>
                                        <input class="form-check-input filter-checkbox" type="checkbox" name="sortby"
                                            id="sortLowHigh" value="priceLowHigh">
                                        <label class="form-check-label" for="sortLowHigh"><span>Price: Low to
                                                High</span></label>
                                    </div>
                                    <div>
                                        <input class="form-check-input filter-checkbox" type="checkbox" name="sortby"
                                            id="sortHighLow" value="priceHighLow">
                                        <label class="form-check-label" for="sortHighLow"><span>Price: High to
                                                Low</span></label>
                                    </div>

                                    <div>
                                        <input class="form-check-input filter-checkbox" type="checkbox" name="sortby"
                                            id="newArrivals" value="newArrivals">
                                        <label class="form-check-label" for="newArrivals"><span>New
                                                Arrivals</span></label>
                                    </div>
                                    <div>
                                        <input class="form-check-input filter-checkbox" type="checkbox" name="sortby"
                                            id="aToZ" value="aToZ">
                                        <label class="form-check-label" for="aToZ"><span>aA-zZ</span></label>
                                    </div>
                                    <div>
                                        <input class="form-check-input filter-checkbox" type="checkbox" name="sortby"
                                            id="zToA" value="zToA">
                                        <label class="form-check-label" for="zToA"><span>zZ-aA</span></label>
                                    </div>
                                    <div>
                                        <input class="form-check-input filter-checkbox" type="checkbox" name="sortby"
                                            id="OutOfStock" value="OutOfStock">
                                        <label class="form-check-label" for="OutOfStock"><span>Out of
                                                stock</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-9">
                            <div class="tab-content wow fadeIn animated" id="myTabContent">
                                <div class="tab-pane fade show active" id="tab-one" role="tabpanel"
                                    aria-labelledby="tab-one">
                                    <div class="row product-grid-4">
                                        <% if(productsArray.length> 0) { %>
                                            <% for (let i=0; i < productsArray.length; i++) { %>
                                                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                                    <div class="product-cart-wrap mb-30">
                                                        <div class="product-img-action-wrap">
                                                            <div class="product-img product-img-zoom">
                                                                <a
                                                                    href="/productDetails?id=<%= productsArray[i]._id %>">

                                                                    <img class="default-img"
                                                                        src="/productImages/<%= productsArray[i].images[0]?.filename %>"
                                                                        alt="">

                                                                    <% for (let j=1; j < productsArray[i].images.length;
                                                                        j++) { %>
                                                                        <img class="hover-img"
                                                                            src="/productImages/<%= productsArray[i].images[j]?.filename %>"
                                                                            alt="Product Image">
                                                                        <% } %>
                                                                </a>
                                                            </div>
                                                            <!-- <div class="heart-icon" data-id="<%=productsArray[i]?._id%>">

                                                                <div class="wishlist-toggle" aria-label="Add to Wishlist">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                                        height="20" viewBox="0 0 24 24" fill="none"
                                                                        stroke="currentColor" stroke-width="2"
                                                                        stroke-linecap="round" stroke-linejoin="round">
                                                                        <path
                                                                            d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                                                        </path>
                                                                    </svg>
                                                                </div>
        
        
                                                            </div> -->
                                                        </div>
                                                        <div class="product-content-wrap ">
                                                            <div class="product-category ">
                                                                <a>
                                                                    <%= productsArray[i].brand.name %>
                                                                </a>
                                                            </div>
                                                            <h5 style="  overflow: hidden;
                                                            text-overflow: ellipsis;
                                                            white-space: nowrap;"><a
                                                                    href="/productDetails?id=<%= productsArray[i]._id %>">
                                                                    <%= productsArray[i].name %>
                                                                </a></h5>
                                                            <div>
                                                                <% if (productsArray[i]?.productOffer &&
                                                                    productsArray[i]?.productOffer?.offerDiscountPercentage
                                                                    && new
                                                                    Date(productsArray[i]?.productOffer?.offerExpiryDate)>
                                                                    new Date() &&
                                                                    productsArray[i]?.productSalesPriceAfterOfferDiscount!==0
                                                                    && productsArray[i]?.productOffer?.offerStatus ) {
                                                                    %>
                                                                    <div class="offer-tag">
                                                                        <span>
                                                                            <%= productsArray[i]?.productOffer?.offerDiscountPercentage
                                                                                %> % OFF
                                                                        </span>
                                                                    </div>
                                                                    <% } else { %>
                                                                       
                                                                        <% } %>
                                                            </div>
                                                            <div class="product-price">

                                                                <% if (productsArray[i].isBlocked
                                                                    ||productsArray[i].category?.isBlocked
                                                                    ||productsArray[i].brand?.isBlocked
                                                                    ||productsArray[i].stock===0) { %>

                                                                    <span style="color: red;">Currently
                                                                        Unavailable</span>

                                                                    <% } else { %>
                                                                        <% if
                                                                            (productsArray[i]?.productSalesPriceAfterOfferDiscount
                                                                            && new
                                                                            Date(productsArray[i]?.productOffer?.offerExpiryDate)>
                                                                            new
                                                                            Date()&&productsArray[i]?.productSalesPriceAfterOfferDiscount!==0&&productsArray[i]?.productOffer?.offerStatus)
                                                                            { %>

                                                                            <span>₹ <%=
                                                                                    productsArray[i]?.productSalesPriceAfterOfferDiscount.toFixed(2)
                                                                                    %></span>

                                                                            <% } else { %>

                                                                                <span>₹ <%=productsArray[i]?.salesPrice.toFixed(2)
                                                                                        %></span>

                                                                                <% } %>

                                                                                    <% } %>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %>
                                                    <% } else { %>
                                                        <div class="col-12">
                                                            <p>No Products Found Yet</p>
                                                        </div>
                                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="pagination-area mt-30 mb-50 text-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <% if (currentPage> 1) { %>
                            <li class="page-item">
                                <a class="page-link"
                                    href="/showCase?targetGroup=<%= targetGroup %>&page=<%= currentPage - 1 %>">
                                    <strong>&lt;</strong>
                                </a>
                            </li>
                            <% } %>

                                <% let startPage=Math.max(1, currentPage - 2); let endPage=Math.min(totalPages,
                                    startPage + 4); if (endPage - startPage < 4) { startPage=Math.max(1, endPage - 4); }
                                    %>

                                    <% for (let i=startPage; i <=endPage; i++) { %>
                                        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                            <a class="page-link"
                                                href="/showCase?targetGroup=<%= targetGroup %>&page=<%= i %>"><strong>
                                                    <%= i %>
                                                </strong></a>
                                        </li>
                                        <% } %>

                                            <% if (currentPage < totalPages) { %>
                                                <li class="page-item">
                                                    <a class="page-link"
                                                        href="/showCase?targetGroup=<%= targetGroup %>&page=<%= currentPage + 1 %>">
                                                        <strong>&gt;</strong>
                                                    </a>
                                                </li>
                                                <% } %>
                    </ul>
                </nav>
            </div>


            <section class="section-padding">
                <div class="container wow fadeIn animated">
                    <h3 class="section-title mb-20"><span>New</span> Arrivals</h3>
                    <div class="carausel-6-columns-cover position-relative">
                        <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow"
                            id="carausel-6-columns-2-arrows"></div>
                        <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">
                            <% if(latestProducts.length> 0) { %>
                                <% for (let i=0; i < latestProducts.length; i++) { %>
                                    <div class="product-cart-wrap small hover-up">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="/productDetails?id=<%= latestProducts[i]._id %>">
                                                    <img class="default-img"
                                                        src="/productImages/<%= latestProducts[i]?.images[0].filename %>"
                                                        alt="">

                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <h6 style="  overflow: hidden;
                                            text-overflow: ellipsis;
                                            white-space: nowrap;"><a
                                                    href="/productDetails?id=<%= latestProducts[i]._id %>">
                                                    <%= latestProducts[i].name %>
                                                </a></h6>
                                            <div>
                                                <span></span>
                                            </div>
                                            <div class="product-price">
                                                <% if
                                                    (latestProducts[i].isBlocked||latestProducts[i].category?.isBlocked||latestProducts[i].brand?.isBlocked)
                                                    { %>
                                                    <span style="color: red; font-size: 15px;">Currently
                                                        Unavailable</span>
                                                    <% } else { %>

                                                        <% if (latestProducts[i]?.productSalesPriceAfterOfferDiscount &&
                                                            new Date(latestProducts[i]?.productOffer?.offerExpiryDate)>
                                                            new
                                                            Date()&&latestProducts[i]?.productSalesPriceAfterOfferDiscount
                                                            !==0 && latestProducts[i]?.productOffer?.offerStatus) { %>

                                                            <span>₹ <%=
                                                                    latestProducts[i]?.productSalesPriceAfterOfferDiscount
                                                                    %></span>

                                                            <span class="old-price">₹ <%= latestProducts[i]?.salesPrice
                                                                    %></span>

                                                            <% } else { %>

                                                                <span>₹ <%=latestProducts[i]?.salesPrice %></span>

                                                                <% } %>

                                                                    <% } %>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                        <% } else { %>
                                            <div class="col-12">
                                                <p>No Products Found Yet</p>
                                            </div>
                                            <% } %>


                        </div>
                    </div>
                </div>
            </section>

        </main>


        <script>

            const advancedSearch = () => {

                const selectedCategories = Array.from(document.querySelectorAll('input[name="category"]:checked')).map(boxValue => boxValue.value);
                const selectedBrands = Array.from(document.querySelectorAll('input[name="brand"]:checked')).map(boxValue => boxValue.value);
                const sortOptions = Array.from(document.querySelectorAll('input[name="sortby"]:checked')).map(boxValue => boxValue.value);
                const urlParams = new URLSearchParams(window.location.search);
                const targetGroup = urlParams.get('targetGroup');

                const filterData = {
                    categories: selectedCategories.join(","),
                    brands: selectedBrands.join(","),
                    sortby: sortOptions.join(","),
                    targetGroup: targetGroup

                }

           

                const queryString = new URLSearchParams(filterData).toString();


                fetch(`/filter?${queryString}`, {

                    method: "GET",
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }).then(response => {
                    if (!response.ok) {
                        throw new Error("Network response was not ok");
                    }
                    return response.json();
                }).then((data) => {
                

                    updateProductDisplay(data.data);

                }).catch(error => {
                    console.error('Error:', error);
                });
            };

            const filterCheckboxes = document.querySelectorAll('.filter-checkbox');

            filterCheckboxes.forEach(checkbox => {

                checkbox.addEventListener('change', advancedSearch);

            });

            const updateProductDisplay = (data) => {

             
                const productContainer = document.querySelector('.product-grid-4');
                productContainer.innerHTML = '';

                if (data.length > 0) {
                    data.forEach(product => {
                        const productHTML = `
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                    <div class="product-cart-wrap mb-30">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="/productDetails?id=${product._id}">
                                    <img class="default-img" src="/productImages/${product.images[0]?.filename}" alt="">
                                </a>
                            </div>
                            
                        </div>
                        <div class="product-content-wrap">
                            <div class="product-category">
                                <a href="#">${product.brandData[0].name}</a>
                            </div>
                            <h5 style="  overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;"><a href="/productDetails?id=${product._id}">${product.name}</a></h5>
                            <div >
                               ${product.productOffer && product.productOffer.offerDiscountPercentage && new Date(product.productOffer.offerExpiryDate) > new Date() && product.productSalesPriceAfterOfferDiscount !== 0 && product.productOffer.offerStatus
                                ? `<span style="color: red; font-weight: bold;"><span>${product.productOffer.offerDiscountPercentage} %</span></span>`
                                : ""
                            }

                            </div>
                            <div class="product-price">
                        ${product.isBlocked || product.category?.isBlocked || product.brand?.isBlocked || product.stock === 0
                                ? `<span style="color: red;">Currently Unavailable</span>`
                                : (product.productSalesPriceAfterOfferDiscount && new Date(product.productOffer.offerExpiryDate) > new Date() && product.productSalesPriceAfterOfferDiscount !== 0 && product.productOffer.offerStatus
                                    ? `<span>₹ ${product.productSalesPriceAfterOfferDiscount}</span>
                                <span class="old-price">₹ ${product.salesPrice}</span>`
                                    : `<span>₹ ${product.salesPrice}</span>`
                                )
                            }
                    </div>

                        </div>
                    </div>
                </div>`;
                        productContainer.insertAdjacentHTML('beforeend', productHTML);
                    });
                } else {
                    productContainer.innerHTML = '<div class="col-12"><p>No Products Found Yet</p></div>';
                }

            }
        </script>
        <%- include('../layouts/userLayouts/footer') %>