<%- include('../layouts/userLayouts/header') %>
    <%- include('../layouts/userLayouts/navbar1') %>

        <main class="main">
            <section class="product-tabs pt-25 pb-20 wow fadeIn animated">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3">
                            <div class="widget-category mb-30">
                                <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                                <% if (categoriesArray.length> 0) { %>
                                    <div class="custome-checkbox">
                                        <% for (let i=0; i < categoriesArray.length; i++) { %>
                                            <div>
                                                <input class="form-check-input" type="checkbox" name="category"
                                                    id="categoryCheckbox<%= i %>"
                                                    value="<%= categoriesArray[i].name %>">
                                                <label class="form-check-label" for="categoryCheckbox<%= i %>"><span>
                                                        <%= categoriesArray[i].name %>
                                                    </span></label>
                                            </div>
                                            <% } %>
                                    </div>
                                    <% } else { %>
                                        <p>No categories available.</p>
                                        <% } %>
                            </div>

                            <div class="widget-category mb-30">
                                <h5 class="section-title style-1 mb-30 wow fadeIn animated">Sort by</h5>
                                <div class="custome-checkbox">
                                    <div>
                                        <input class="form-check-input" type="checkbox" name="sortby"
                                            id="sortPopularity" value="popularity">
                                        <label class="form-check-label"
                                            for="sortPopularity"><span>Popularity</span></label>
                                    </div>
                                    <div>
                                        <input class="form-check-input" type="checkbox" name="sortby" id="sortRating"
                                            value="average_rating">
                                        <label class="form-check-label" for="sortRating"><span>Average
                                                rating</span></label>
                                    </div>
                                    <div>
                                        <input class="form-check-input" type="checkbox" name="sortby" id="sortLowHigh"
                                            value="price_low_high">
                                        <label class="form-check-label" for="sortLowHigh"><span>Price: Low to
                                                High</span></label>
                                    </div>
                                    <div>
                                        <input class="form-check-input" type="checkbox" name="sortby" id="sortHighLow"
                                            value="price_high_low">
                                        <label class="form-check-label" for="sortHighLow"><span>Price: High to
                                                Low</span></label>
                                    </div>
                                </div>
                            </div>

                            <div class="widget-category mb-30">
                                <h5 class="section-title style-1 mb-30 wow fadeIn animated">Price Range</h5>
                                <div class="custome-checkbox">
                                    <div>
                                        <input class="form-check-input" type="checkbox" name="priceRange"
                                            id="price0_200" value="0-200">
                                        <label class="form-check-label" for="price0_200"><span>Rs0-Rs200</span></label>
                                    </div>
                                    <div>
                                        <input class="form-check-input" type="checkbox" name="priceRange"
                                            id="price200_400" value="200-400">
                                        <label class="form-check-label"
                                            for="price200_400"><span>Rs200-Rs400</span></label>
                                    </div>
                                    <div>
                                        <input class="form-check-input" type="checkbox" name="priceRange"
                                            id="price400_600" value="400-600">
                                        <label class="form-check-label"
                                            for="price400_600"><span>Rs400-Rs600</span></label>
                                    </div>
                                    <div>
                                        <input class="form-check-input" type="checkbox" name="priceRange"
                                            id="price600_800" value="600-800">
                                        <label class="form-check-label"
                                            for="price600_800"><span>Rs600-Rs800</span></label>
                                    </div>
                                    <div>
                                        <input class="form-check-input" type="checkbox" name="priceRange"
                                            id="price800_plus" value="800+">
                                        <label class="form-check-label" for="price800_plus"><span>Rs800+</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="col-lg-9">
                            <div class="tab-content wow fadeIn animated" id="myTabContent">
                                <div class="tab-pane fade show active" id="tab-one" role="tabpanel"
                                    aria-labelledby="tab-one">
                                    <div class="row product-grid-4">
                                        <% if(productsArray.length> 0) { %>
                                            <% for (let i=0; i < productsArray.length; i++) { %>
                                                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                                    <div class="product-cart-wrap mb-30">
                                                        <div class="product-img-action-wrap">
                                                            <div class="product-img product-img-zoom">
                                                                <a
                                                                    href="/productDetails?id=<%= productsArray[i]._id %>">

                                                                    <img class="default-img"
                                                                        src="/productImages/<%= productsArray[i].images[0].filename %>"
                                                                        alt="">



                                                                </a>
                                                            </div>
                                                            <div class="product-action-1">

                                                                <a aria-label="Add To Wishlist"
                                                                    class="action-btn hover-up" href="#"><i
                                                                        class="fi-rs-heart"></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="product-content-wrap">
                                                            <div class="product-category">
                                                                <a href="#">
                                                                    <%= productsArray[i].brand.name %>
                                                                </a>
                                                            </div>
                                                            <h5><a
                                                                    href="/productDetails?id=<%= productsArray[i]._id %>">
                                                                    <%= productsArray[i].name %>
                                                                </a></h5>
                                                            <div class="rating-result" title="90%">
                                                                <span>
                                                                    <span>90%</span>
                                                                </span>
                                                            </div>
                                                            <div class="product-price">
                                                                <span>₹ <%= productsArray[i].salesPrice %></span>
                                                                <span class="old-price">
                                                                    <%= productsArray[i].regularPrice %>
                                                                </span>
                                                            </div>
                                                            <div class="product-action-1 show">
                                                                <a aria-label="Add To Cart"
                                                                    class="btn btn-outline-primary btn-sm hover-up"
                                                                    href="#">
                                                                    <i class="fi-rs-shopping-bag-add"></i> Add to Cart
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %>
                                                    <% } else { %>
                                                        <div class="col-12">
                                                            <p>No Products Found Yet</p>
                                                        </div>
                                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-padding">
                <div class="container wow fadeIn animated">
                    <h3 class="section-title mb-20"><span>New</span> Arrivals</h3>
                    <div class="carausel-6-columns-cover position-relative">
                        <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow"
                            id="carausel-6-columns-2-arrows"></div>
                        <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">
                            <% if(latestProducts.length> 0) { %>
                                <% for (let i=0; i < latestProducts.length; i++) { %>
                                    <div class="product-cart-wrap small hover-up">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="/productDetails?id=<%= latestProducts[i]._id %>">
                                                    <img class="default-img"
                                                        src="/productImages/<%= latestProducts[i].images[0].filename %>"
                                                        alt="">
                                                    <!-- <img class="hover-img" src="assets/imgs/shop/product-2-2.jpg" alt=""> -->
                                                </a>
                                            </div>
                                            <div class="product-action-1">
                                                <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                                    href="#" tabindex="0"><i class="fi-rs-heart"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <h6><a href="/productDetails?id=<%= latestProducts[i]._id %>">
                                                    <%= latestProducts[i].name %>
                                                </a></h6>
                                            <div class="rating-result" title="90%">
                                                <span></span>
                                            </div>
                                            <div class="product-price">
                                                <span>₹ <%= latestProducts[i].salesPrice %></span>
                                                <span class="old-price">
                                                    <%= latestProducts[i].regularPrice %>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                        <% } else { %>
                                            <div class="col-12">
                                                <p>No Products Found Yet</p>
                                            </div>
                                            <% } %>

                                            
                        </div>
                    </div>
                </div>
            </section>

        </main>
        <%- include('../layouts/userLayouts/footer') %>