<%- include('../layouts/userLayouts/header') %> <%- include('../layouts/userLayouts/navbar1') %>

        <main class="main">
            <section class="pt-150 pb-150">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 m-auto">
                            <div class="row">
                                <%- include('../layouts/userLayouts/sidebar') %>
                                <div class="col-md-8">
                                    <h2>Your Wallet</h2>
                                    <div class="container mt-4">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Wallet Balance</h5>
                                                        <h2 class="card-text text-primary">₹<%= walletData.balance%></h2>
                                                        <hr>
                                                        <button type="button" class="btn btn-primary btn-lg mt-3" onclick="addMoney()">Add Money</button>
                                                    </div>
                                                </div>
                                
                                                <table class="table table-striped mt-4">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Transaction ID</th>
                                                            <th scope="col">Amount</th>
                                                            <th scope="col">Date</th>
                                                            <th scope="col">Type</th>
                                                            <th scope="col">Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% if (transactionsData.length > 0) { %>
                                                            <% transactionsData.forEach(transaction => { %>
                                                                <tr>
                                                                    <td><%= transaction._id %></td>
                                                                    <td>₹<%= transaction.amount %></td>
                                                                    <td><%= transaction.createdAt.toISOString().split('T')[0] %></td>
                                                                    <td><%= transaction.type %></td>
                                                                    <td><%= transaction.walletTransactionStatus %></td>
                                                                </tr>
                                                            <% }) %>
                                                        <% } else { %>
                                                            <tr>
                                                                <td colspan="5" class="text-center">No transactions available</td>
                                                            </tr>
                                                        <% } %>
                                                    </tbody>
                                                </table>
                                
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <%- include('../layouts/userLayouts/footer') %>